.lotboxlist{
    .box{
        @include marginCenter();
        @include fsm('16');
        position: relative;
        width: 275px;
        height: 74px;
        font-weight: 500;
        text-align: center;
        background-image: url('/resources/images/business/inbox2.png');
        background-repeat: no-repeat;
        background-size: contain;

        & > span{
            @include posiCenter('va');
            width: 100%;
            padding: 0 20px 15px;
        }
    }
}

.vision_step{
    .step0{
        @include marginCenter();
        @include bgicon(290, 290, 581, 581, '/resources/images/business/vision_5th_0.png');
        position: relative;
        display: table;

        .steptxt{
            @include fsm('40');
            color: $white;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            font-weight: 700;
            text-align: center;

            p{
                @include marBtm(14);
                @include fsm('22');
                color: $skyBlue;
            }
        }
    }

    .lot_nature{
        @include marBtm(20);
        height: 400px;
        padding-top: 239px;
        background-image: url('/resources/images/business/lot6_2_m.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        

        @include mq('mobile-anoter'){
            .lotboxlist{
                .box{
                    width: 302px;
                    height: 82px;
                }
            }
        }

        @include mq('tablet'){
            background-image: url('/resources/images/business/lot6_2.jpg');
            height: 511px;
            padding-top: 241px;

            .lotboxlist{
                text-align: center;

                & > li{
                    display: inline-block;
                }
            }
        }

        @include mq('deskTop'){
            .lotboxlist{
                .box{
                    width: 419px;
                    height: 113px;

                    & > span{
                        padding: 0 25px 20px;
                    }
                }
            }
        }
    }

    .step1{
        @include clearfix();
        position: relative;
        margin-top: -40px;
        z-index: 2;

        @include mq('deskTop'){
            margin-top: -75px;
        }

        & > li{
            @include col(2);
            float: left;
            margin-bottom: 25px;

            @include mq('tablet'){
                @include col(5);
                margin-bottom: 0;
            }
        }

        @include mq('tablet'){
            &.col4{
                & > li{
                    @include col(4);
                }
            }
        }

        .item{
            @include marginCenter();
            width: 144px;

            .stround{
                display: table;
                width: 144px;
                height: 144px;
                background-repeat: no-repeat;
                background-size: contain;

                @for $round from 1 through 5{
                    &.str#{$round}{
                        background-image: url('/resources/images/business/vision_5th_#{$round}.png');
                    }
                }

                .srtintxt{
                    @include fsm('18');
                    color: $white;
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    width: 100%;
                    padding-top: 15px;
                    font-weight: 500;
                    text-align: center;

                    i{
                        @include posiCenter('a');
                        @include fsm('80');
                        color: rgba($white, 0.2);
                        display: block;
                        top: 20px;
                        font-weight: 700;
                        line-height: 1;
                    }
                }
            }

            @include mq('deskTop'){
                width: 190px;

                .stround{
                    width: 190px;
                    height: 190px;
                }
            }

            @include mq('deskTop-anoter'){
                width: 240px;

                .stround{
                    width: 240px;
                    height: 240px;

                    .srtintxt{
                        padding-top: 25px;

                        i{
                            top: 38px;
                        }
                    }
                }

                .ulist1{
                    @include marginCenter();
                    width: 170px;
                }
            }
        }
    }
}

.steparrow{
    position: relative;
    padding: 34px 0 75px;
    margin: 0 -20px;
    
    p{
        @include fsm('28');
        color: $black;
        position: relative;
        font-weight: 700;
        text-align: center;
        z-index: 2;
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 104px;
        bottom: 0;
        background-image: url('/resources/images/investment/square_bg_m.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        z-index: 1;
    }

    @include mq('deskTop'){
        padding: 45px 0 105px;
        margin: 0;

        &::before{
            height: 236px;
            background-image: url('/resources/images/investment/square_bg.png');
        }

        &.mode2{
            padding-bottom: 140px;
        }
    }
}

.busibox_popla{
    .cornerbox1{
        @include marginCenter();
        max-width: 540px;
    }
}

.graphinfo{
    & > li{
        @include disinBlock('m');
        margin: 0 25px 5px 0;

        &:last-of-type{
            margin-right: 0;
        }

        span{
            @include disinBlock('m');
            @include fsm('16');
            font-weight: 500;

            &.round{
                width: 10px;
                height: 10px;
                border-radius: 50%;

                &.color1{
                    background-color: #2c6b61;
                }
                &.color2{
                    background-color: #009b63;
                }
                &.color3{
                    background-color: $color-primary;
                }
                &.color4{
                    background-color: #c69e70;
                }
                &.color5{
                    background-color: #ff7c1c;
                }
                &.color6{
                    background-color: $yellow;
                }
            }
        }
    }

    @include mq('tablet'){
        text-align: center;
    }

    @include mq('deskTop'){
        & > li{
            margin-right: 35px;
            span{
                &.round{
                    width: 20px;
                    height: 20px;
                    margin-right: 6px;
                }
            }
        }
    }
}

.boxinimg{
    display: flex;
    align-items: center;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @for $wfea from 1 through 4 {
        &.wf_img#{$wfea}{
            background-image: url('/resources/images/business/waterfront_sect#{$wfea}.jpg');
        }
    }

    @each $roadImg in road1, road2, road3 ,supply, breakwater, smartwater, railport, renewenergy1_1 {
        &.busi_img#{$roadImg}{
            background-image: url('/resources/images/business/sect_bg#{$roadImg}.jpg');
            background-position: center;
        }
    }
    
    .inbox{
        @include marginCenter();
        position: relative;
        width: 172px;
        height: 174px;
        text-align: center;
        background: url('/resources/images/business/inbox.png') no-repeat;
        background-size: contain;

        .inboxtxt{
            @include posiCenter('v');
            width: 100%;
            margin-top: -8px;

            p{
                @include fsm('22');
                color: $black;
                font-weight: 700;
            }

            .imgcon{
                @include marTop(14);
                height: 39px;

                img{
                    height: 100%;
                }
            }
        }

    }

    @include mq('deskTop'){
        height: 520px;

        .inbox{
            width: 312px;
            height: 315px;

            .inboxtxt{
                .imgcon{
                    height: auto;
                }
            }
        }
    }
}

.fig_edgeline{
    img{
        border: 1px solid $igray;
        width: 100%;
    }

    figcaption{
        background-color: $white;
        border: 1px solid $igray;
        border-top: none;
        position: relative;

        span{
            @include fsm('18');
            display: block;
            padding: 10px 20px 10px 10px;
            font-weight: 500;
        }
        
        &::before{
            background: $white;
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            right: -1px;
            bottom: -1px;
            z-index: 2;

            @at-root .bggray &{
                background: url('/resources/images/common/box_corner1.gif') no-repeat;
                background-size: contain;
            }
        }

        &::after{
            border-right: 1px solid $igray;
            content: '';
            position: absolute;
            display: block;
            right: 10px;
            bottom: -6px;
            width: 0px;
            height: 30px;
            transform: rotate(45deg);
            z-index: 2;

            @at-root .bggray &{
                display: none;
            }
        }

        @include mq('deskTop'){
            span{
                padding: 15px 30px 15px 15px;
            }

            &::before{
                width: 30px;
                height: 30px;
            }

            &::after {
                right: 15px;
                bottom: -7.5px;
                width: 0px;
                height: 45px;
            }
        }
    }

    &.intextline{
        border: 1px solid $igray;
        background-color: $white;
        position: relative;
        text-align: center;

        img{
            border: none;
        }

        .boundary{
            position: absolute;
            width: 100%;
            bottom: 18px;
            left: 0;

            span{
                @include disinBlock('m');
                @include fsm('16');
                position: relative;
                margin-right: 15px;
                padding-left: 14px;
                font-weight: 500;

                &::before{
                    @include posiCenter('v');
                    background-color: $color-primary;
                    content: '';
                    width: 10px;
                    height: 10px;
                    left: 0;
                    border-radius: 50%;
                }

                &.colr_blue3{
                    &::before{
                        background-color: $blue3;
                    }
                }

                &:last-of-type{
                    margin-right: 0;
                }
            }

            @include mq('deskTop'){
                bottom: 30px;

                span{
                    margin-right: 40px;
                    padding-left: 32px;

                    &::before{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.busicont_lrpos{
    .frbox2.left{
        margin-bottom: 30px;
    }

    @include mq('deskTop'){
        @include clearfix();

        .frbox2{
            float: left;
            width: (685/1410)*100%;

            &.left{
                margin-bottom: 0;
            }

            &.right{
                float: right;
            }
        }
    }
}

.gray_imgbox{
    position: relative;
    background-color: #e4e8ef;

    .boxintext{
        padding: 0 20px 20px;

        .box{
            background-color: $white;
            box-shadow: rgba(0,0,0,0.3) 0 5px 6px;
            padding: 27px;

        }
    }

    @include mq('tabletLte'){
        margin-left: -20px;
        margin-right: -20px;
    }

    @include mq('deskTop'){
        .boxintext{
            padding: 0;

            .box{
                box-shadow: rgba(0,0,0,0.3) 0 10px 12px;
                position: absolute;
                width: 335px;
                top: 7.84%;
                left: 4.25%;
                padding: 35px 50px;
                
            }
        }
    }
}

.infragoal{
    .ifgbg{
        position: relative;
        height: 255px;
        background: url('/resources/images/business/infrast01.jpg') no-repeat 18% center;
        background-size: cover;

        .box{
            @include marginCenter();
            @include posiCenter('va');
            width: 275px;
            height: 150px;
            background-image: url('/resources/images/business/infrast01_inbox_m.png');
            background-repeat: no-repeat;
            background-size: contain;

            .insidetxt{
                @include posiCenter('va');
                width: 100%;
                padding: 0 20px 15px;
                text-align: center;

                p{
                    @include fsm('16');
                    font-weight: 500;
                    word-break: break-all;
                }
            }

            @include mq('mobile-anoter'){
                width: 302px;
                height: 165px;
            }
        }
    }

    .goalist{
        @include clearfix();

        & > li{
            position: relative;
            padding-top: 30px;

            &::before{
                @include posiCenter('a');
                background-color: $gray4;
                content: '';
                top: 0;
                width: 1px;
                height: 30px;
            }

            @include mq('tabletLte'){
                float: left;
                width: (320/670)*100%;

                &:nth-of-type(even){
                    float: right;
                }
            }
        }

        .cornerbox2{
            position: relative;
            height: 106px;
        }

        .item{
            @include posiCenter('va');
            @include fsm('18');
            width: 100%;
            padding: 0 10px;
            text-align: center;
            letter-spacing: -1.5px;
        }
    }

    &.complex1 {

        .ifgbg{
            background: url('/resources/images/business/complex1_03.jpg') no-repeat 18% center;
            background-size: cover;

            .box {
                height: auto;
                margin-top: 15px;
                padding: 15px 15px 30px;
                background-image: url('/resources/images/business/complex_inbox_m.png');
                background-position: 50% 50%;
                background-size: 100% 100%;                

                .insidetxt {
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: none;
                    padding: 0 10px 15px;
                }
            }

        }


    }

    @include mq('tablet'){
        .goalist{
            .cornerbox2{
                height: 62px;
            }

            .item{
                letter-spacing: -0.5px;
            }
        }
    }

    @include mq('deskTop'){
        .ifgbg{
            height: 511px;
            
            .box{
                width: 809px;
                height: 202px;
                background-image: url('/resources/images/business/infrast01_inbox.png');

                .insidetxt{
                    padding: 0 30px 35px;
                }
            }
        }

        &.complex1 {
            .ifgbg {
                .box {
                    margin-top: 0;
                    padding: 30px 15px 30px;
                    background-image: url('/resources/images/business/infrast01_inbox.png');
                    background-size: 100% 120%;
                }
            }
        }

        .goalist{
            margin-left: -1.1%;
            margin-right: -1.1%;
            & > li{
                @include col(4);
                float: left;
                padding-top: 64px;

                &::before{
                    height: 64px;
                }
            }

            .cornerbox2{
                @include marginCenter();
                width: (330/360)*100%;
                height: 110px;
            }
        }
    }
}

.infrastr_ship1{
    .sectit3{
        margin-bottom: 0;
    }
    .postxr{
        @include fsm('16');
        font-weight: 500;
    }

    @include mq('deskTop'){
        .sectit3{
            float: left;
        }
        .postxr{
            float: right;
        }
    }
}

.wqp_topvis{
    height: 400px;
    padding-top: 105px;
    background-image: url('/resources/images/business/wqp_bg_m.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .toptext{
        @include fsm('40');
        color: $white;
        margin-bottom: 15px;
        padding: 0 25px;
        font-weight: 700;
        text-align: center;
        text-shadow: rgba($black, 0.8) 1px 1px 0;

        p{
            @include fsm('22');
            color: #bad1ec;
            text-shadow: none;
        }
    }

    .lotboxlist{
        .box{
            height: 58px;
            letter-spacing: -1.5px;
            background-image: url('/resources/images/business/infrast01_inbox3_m.png');
        }

        @include mq('tabletLte'){
            & > li:first-of-type{
                .box{
                    height: 74px;
                    background-image: url('/resources/images/business/infrast01_inbox2_m.png');
                    & > span{
                        padding-bottom: 16px;
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        height: 520px;
        padding-top: 145px;
        background-image: url('/resources/images/business/wqp_bg.jpg');

        .lotboxlist{
            text-align: center;

            & > li{
                @include disinBlock('m');
            }
            .box{
                width: 419px;
                height: 104px;
                background-image: url('/resources/images/business/infrast01_inbox2.png');

                & > span{
                    padding: 0 30px 15px;
                }
            }
        }
    }
}

.agropark_tree{
    margin-top: 35px;
}
.figmax1{
    @include marginCenter();
    max-width: 225px;
}
.figcap1{
    @include marTop(15);
    @include fsm('16');
    font-weight: 500;
    text-align: left;
}


@include mq('deskTop'){
    .wfcity_tan{
        .fig_edgeline{
            @include marginCenter();
            width: (274/284)*100%;
        }
    }

    .agropark_tree{
        float: left;
        width: (865/1410)*100%;
    }
}

.disp_pc {
    display:none;
}
.disp_mo {
    display:block;
}
.boxpad {
    padding:30px 8px;
}
.media_area {
    .media_box,
    .media_cont {
        width:100%;
    }
    
    .media_box {
        .media {
            height: 0;
            padding-bottom: 75.9689%; 
            background:#dfe2e5;
        }
    }
    
    .media_cont {
        .text {
            .title {
                margin-top:20px;
                font-size:17px;
                font-weight:700;
                line-height:1.4;
                word-break: break-word;
            }
            .ico_ner {
                display:inline-block;
                padding:3px 20px 2px;
                margin-bottom:10px;
                border:1px solid #000;
                border-radius:50%;
                border-radius: 25px;
            }
            .qner {
                color:$blue3;   
                .ico_ner {
                    color:$blue3;
                    background:none;
                    border-color:$blue3;
                }
            }
            .aner {
                color:$black;
                .ico_ner {
                    color:$white;
                    background:$black2;
                    border-color:$black2;
                }
            }
        }
    }
    
}

@include mq('deskTop'){
    .disp_pc {
        display:block;
    }
    .disp_mo {
        display:none;
    }
    .boxpad {
        padding:50px 60px;
    }
    .media_area {
        @include clearfix();

        .media_box {
            float: left; 
            width: (645/1310)*100%;
        }

        .media_cont {
            float: right;
            width: (570/1310)*100%;
            .text {
                max-height:500px;
                overflow-y:scroll;
                .title {
                    margin-top:0;
                    font-size:26px;
                    font-weight:normal;
                }
                .ico_ner {
                    margin-bottom:15px;
                }
            }
            
        }
    }

}

.complex2{
    .map_smg {
        img {
            width:100%;
        }
        .txt_smg {
            margin-top:20px;
            width:100%;
        }
    }

    @include mq('tablet'){
        .map_smg {
            img {
                width:80%;
                margin:auto;
            }
        }
    }
    
    @include mq('deskTop'){
        .map_smg {
            @include clearfix();

            figure {
                float:left;
                width:67%;
                img {
                    width:100%;
                }
            }

            .txt_smg {
                float:right;
                width:30%;
                margin-top:10%;
                padding-right:3%;
            }
        }

        .citymodel2>ul {
            margin-top:-30px;
        }

        .citymodel2>ul>li,
        .citymodel2>ul>li:first-of-type {
            margin-top:30px;
        }
        
        .boxnum_list.col3>li {
            margin-bottom:30px;
        }
    }
}

.complex3 {

    .cs_yantai {
    
        .ulist1{
    
            & > li{
                @include clearfix();
                @include fsm('16');
                margin-top: 10px;
        
                &:first-of-type{
                    margin-top: 0;
                }
            }
        
            .category{
                float: left;
                position: relative;
                width: 45px;
                margin-right: 10px;
                font-weight: 500;
        
                &::after{
                    @include posiCenter('v');
                    background-color: $dgray;
                    content: '';
                    display: block;
                    width: 1px;
                    height: 12px;
                    right: 0;
                }
            }
        
            .valu{
                float: left;
            }
        }

    
    }

    .map_yantai {
        img {
            width:100%;
        }
        .txt1 {
            width:100%;
        }
    }
    .fig_edgeline figcaption span {
        word-break: break-all;
    }

    .numlist.mode2>li {
        
        padding:0;
        @include paddBtm(40); 
        @include paddTop(40); 
        display:block;
        border-bottom: 1px solid #e4e4e4;

        &:first-child {
            border-top: 1px solid #e4e4e4;
        }

        .title {
            position:relative;
            padding:5px 0 0 35px;
        }
        .txt1 {
            color: $color-default;
        }
    }

    @include mq('tablet'){
        .cs_yantai {
            .boxlist1 > li {
                margin-bottom:0px;
                height:250px;
            }    
        }
        .map_yantai {
            img {
                width:80%;
            }
        }
    }
        
    @include mq('deskTop'){ 
        .cs_yantai {
            .boxlist1 > li {
                margin-bottom:0px;
                height:370px;
            }    
        }

        .map_yantai {
            @include clearfix();

            figure {
                float:left;
                width:50%;
                img {
                    width:100%;
                }
            }

            .txt1 {
                float:right;
                width:45%;
                margin-top:13%;
                padding-right:2%;

            }
        }


        .fig_edgeline figcaption span {
            padding:15px;
        }
            
        .numlist.mode2>li {
            margin:0;

            .title {
                padding: 8px 0 0 50px;
            }
        }
    }
}

.complex4{
    .br_st {
        display:block;
        height:0;
    }

    .bg_btline {
        background: url('/resources/images/common/smalltitle_line.png') no-repeat 50% 100%;
        background-size: auto 3px;
    }

    .map_yench {
        img {
            width:100%;
        }
        .txt_yench {
            margin-top:20px;
            width:100%;
        }
    }

    .rsc_list {
        & > li {
            margin-top:15px;
            
            &:first-child {
                margin-top:0;
                margin-left:0;
            }
        }

        .fig_edgeline figcaption {
            ul {
                @include clearfix();

                li {
                    float:left;
                    width:50%;
                    box-sizing:border-box;
                    padding:15px 0;
                    border-left:1px solid $igray;
                    
                    &:first-child {
                        border-left:none;
                    }

                    span {
                        display:block;
                        padding:0;
                        text-align:center;

                        &.fg_txt1 {
                         padding-bottom:12px;
                         color:$black;
                         font-size:1.125rem;
                         font-weight:700;
                        }

                        &.fg_txt2 {
                            padding-top:12px;   
                        }
                        
                    }
                }
            }
        }
    }

    .citymodel2 {
        & > ul {
            & > li {
                & > .anglebox1 {
                    padding:35px;
                    text-align:center;
                    .numtit1 {
                        padding-left:0;
                        font-size:1.25rem;
                        span {
                            display:inline-block;
                            position:relative;
                            padding-left:16px;
                        }
                    }
                    ul>li {
                        margin-top:10px;
                        padding-top:10px;
                        border-top:1px solid #4ba4dc;
                        font-size: 0.9375rem;
                    }
                }
            }
        }
    }

    .joint_list {
        li {
            position:relative;
            width:100%;
            margin-top:50px; 
            
            &:before {
                content:'';
                position:absolute;
                left:50%;
                top:-35px;
                margin-left:-10px;
                width:20px;
                height:20px;
                background:url('/resources/images/business/ico_plus.jpg') no-repeat 50% 50%;
                background-size:100% auto;
            }

            &:first-child {
                margin-top:0;
                &:before {
                    display:none;
                }
            }
            
            .ico_box {
                width:100%;
                box-sizing:border-box;
                border:1px solid #dfdfdf;
                border-bottom:none;
                padding:30px;

                .ico_cont {
                    position:relative;
                    text-align:center;
                    
                    &:after {
                        display:block;
                        clear:both;
                        content:'';
                    }

                    .line {
                        clear:both;
                        display:block; 
                        position:relative;
                        width:100%; 
                        height:0px;
                        &:after {
                            content:'';
                            position:absolute;
                            left:0;
                            right:0;
                            top:50%;
                            width:100%;
                            height:1px;
                            background:#dfdfdf;
                            z-index:2;
                        } 
                        
                    }

                    figure {
                        display:inline-block;
                        box-sizing:border-box;
                        padding:14px;

                        &.f_left {
                            float:left;
                        }
                        &.f_right {
                            float:right;
                        }
                        img {
                            width:80px;
                        }
                        figcaption {
                            margin-top:10px;
                            font-size:0.875rem;
                        }
                    }
                }
            }
        }
    }

    .plan_list {
        & > li {
            position: relative;
            display: block;
            margin-bottom:15px;
            padding:20px 10px;
            min-height: 40px;
            color:$white;
            font-weight:500;
            text-align: center;
            box-sizing: border-box;
            background: #017ac9 url('/resources/images/introduce/bg_org1.png') no-repeat 100% 100%;
            background-size: auto 34px;

            &.empty_padd {
                display:none;
            }
        }
    }

    @include mq('tablet'){

        .map_yench {
            img {
                display:block;
                width:80%;
                margin:auto;
            }
        }

        .rsc_list {
            @include clearfix();    

            & > li {
                float:left;
                width:32%;
                margin-left:2%;
                margin-top:0px;
            }
        }

        .citymodel2 {
            & > ul {
                @include clearfix();    

                & > li {
                    float:left;
                    width:32%;
                    margin-left:2%;
                    margin-top:0px;
                    margin-bottom:0px;

                    &:first-child {
                        margin-left:0;
                    }

                    & > .anglebox1 {
                        height:320px;
                    }
                }
            }
        }
        
        .joint_list {
            @include clearfix();
            
            li {
                float:left;
                position:relative;
                width: 30%;
                margin-left: 5%;
                margin-top: 0px;
                
                &:before {
                    content:'';
                    position:absolute;
                    top:50%;
                    left:-8.5%;
                    margin-top:-10px;
                }
    
                &:first-child {
                    margin-left:0;
                }
                
                .ico_box {
                    display:table; 
                    width:100%;
                    padding:15px;
                    height:330px;
    
                    .ico_cont {
                        display:table-cell;
                        width:100%;
                        vertical-align:middle;

                        .line {
                            padding:20px 0;
                        }
    
                        figure {
                            padding:0px;

                            &.f_left,
                            &.f_right {
                                width:50%;
                            }

                            img {
                                width:64px;
                            }

                            figcaption {
                                margin-top:15px;
                                font-size:0.95rem;
                            }
                        }
                    }
                }
            }
        }

        .plan_list {
            display: table;
            width:100%;

            & > li {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width:23.95%;
                margin-bottom:0;
                padding:20px;
                font-size:0.95rem;
                
                &.empty_padd {
                    display:block;
                    width:1.4%;
                    padding:0;
                    background:none;
                }

                &:last-child {
                    word-break:break-all;

                    .br_st {
                        display:inline-block;
                        width:4px;
                        height:10px;
                    }
                }
            }
        }
    }
    
    @include mq('deskTop'){
        .map_yench {
            @include clearfix();

            figure {
                float:left;
                width:67%;
                img {
                    width:100%;
                }
            }

            .txt_yench {
                float:right;
                width:31%;
                margin-top:0%;
                padding-right:2%;
            }
        }

        .rsc_list {
            .fig_edgeline figcaption {
                ul li {
                    padding:30px 0;

                    span {
                        &.fg_txt1 {
                            padding-bottom:17px;
                            font-size:1.625rem;
                        }

                        &.fg_txt2 {
                            padding-top:17px;   
                        } 
                    }
                }
            }
        }

        .bgsect.roadbg_2 {
            padding:100px;
        }
        
        .citymodel2 {
            margin:0px;
            
            & > ul {
                margin:0; 

                & > li {
                    & > .anglebox1 {
                        width:100%;
                        height:480px;
                        padding:72px 40px 65px;
                        
                        .numtit1 {
                            font-size:1.5rem;    
                        }

                        ul>li {
                            margin-top:18px;
                            padding-top:18px;
                            font-size:1.125rem;
                        }
                    }
                }
            }
        }
        
        .boxnum_list.col3>li {
            margin-bottom:30px;
        }

        .joint_list {
            li {
                .ico_box {
                    padding:20px;
                    height:430px;
    
                    .ico_cont {
    
                        figure {

                            img {
                                width:90px;
                            }

                            figcaption {
                                font-size:1.125rem;
                            }
                        }
                    }
                }
            }
        }

        .plan_list {
            & > li {
                height:160px;
                font-size:1.25rem;

                &:last-child {
                    word-break:keep-all;
                }
            }
        }
    }
}

.supf_tab{
    position: relative;

    .figbrd2{
        margin-bottom: 16px;
    }

    @include mq('deskTop'){
        .figbrd2{
            position: absolute;
            width: (750/1410)*100%;
            top: 0;
            right: 0;
            margin-bottom: 0;
        }
        
        .supf_in{
            width: (635/1410)*100%;
            min-height: 34.56vw;
        }
    }
}

.historytree{
    position: relative;

    & > li{
        @include fsm('18');
        position: relative;
        padding: 0 0 15px 20px;
        font-weight: 500;

        &::before{
            background-color: $gray2;
            content: '';
            display: block;
            position: absolute;
            top: 9px;
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            z-index: 2;
        }

        &::after{
            background-color: $skyBlue2;
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            top: 9px;
            left: 3px;
            z-index: 1;
        }

        &:last-of-type{
            &::after{
                display: none;
            }
        }

        .year{
            @include fsm('28');
            display: block;
            font-weight: 700;
        }

        .histxt{
            @include fsm('18');
            color: $black;
            display: block;
        }
    }

    @include mq('deskTop'){
        & > li{
            padding: 0 0 28px 26px;

            &::before{
                top: 8px;
                left: 0;
                width: 9px;
                height: 9px;
            }

            &::after{
                top: 8px;
                left: 4px;
            }

            .clearfix{
                .year{
                    letter-spacing: -1.2px;
                    line-height: 1.2;
                }
            }
        }
    }

    @include mq('deskTop-anoter'){
        &> li{
            .clearfix{
                .year{
                    float: left;
                    width: 135px;
                }

                .histxt{
                    float: right;
                    width: calc(100% - 140px);
                    padding-top: 2px;
                }
            }
        }
    }
}

.tab_item{
    display: none;

    &.show{
        display: block;
    }
}

.dgram_smartwater {
 
    @include mq('tablet'){
        @include paddAll(60);
        .disp_mo {
            display:none;
        }
        .disp_pc {
            display:block;
        }
    }

    @include mq('deskTop'){
        
    }
}

.renew_energy1 {

    .renew_spot {
        .wrp_tbl {
            
            .numb{
                display:inline-block;
                color:#fff;
                width:20px;
                height:20px;
                text-align:center;
                line-height:23px;
                font-weight:700;
                border-radius:50%;
                overflow:hidden;
                &.color1 {background-color:#00479d;}
                &.color2 {background-color:#f4b334;}
                &.color3 {background-color:#4eb425;}
                &.color4 {background-color:#ff7c1c;}
                &.color5 {background-color:#f42643;}
                &.color6 {background-color:#017ac9;}
            }
        }

        .wrp_map {
            margin-top:20px;

            .bg_map {
                width:100%;
                height:0;
                line-height:0;
                padding-bottom:80.85%;
                background:url('/resources/images/business/renewenergy1_4.jpg') no-repeat 50% 50%;
                background-size:auto 100%;
            }
        }
    }

    .squareinfo_list2 {

        &>li {
            width:100%;
        }

    }

    .condition_list {
        @include clearfix();
        font-size:1rem;
        color:#fff;
        font-weight:700;
        
        li {
            margin-top:10px;
            background:no-repeat 50% 50%;
            background-size:cover;

            &:first-child {
                margin:0;
            }

            &.bg1 {
                background-image: url('/resources/images/business/renewenergy1_31.jpg');
            }
            &.bg2 {
                background-image: url('/resources/images/business/renewenergy1_32.jpg');
            }
            &.bg3 {
                background-image: url('/resources/images/business/renewenergy1_33.jpg');
            }            

            .item {
                position: relative;
                display:table;
                width:100%;
                height:160px;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: -1px;
                    right: -1px;
                    border: 12px solid transparent;
                    border-right-color: #fff;
                    border-bottom-color: #fff;
                }

                p {
                    display:table-cell;
                    width:100%;
                    height:100%;
                    text-align:center;
                    vertical-align:middle;
                }

            }
        }
        
    }

    @include mq('tablet'){       

        .squareinfo_list2 {
            @include clearfix();

            margin-left: -1%;
            margin-right: -1%;  
            
            &>li {
               float:left;
               clear:none;
               width:33.33333%;

               .item {
                    margin-left: auto;
                    margin-right: auto;
                    width: 93.75%;
               }
            }            
        }

        .condition_list {
            font-size:1.375rem;
            
            li {
                float:left;
                width:32%;
                margin-left:2%;
                margin-top:0;
                
                .item {
                    height:250px;
                }
            }
        }

    }

    @include mq('deskTop'){
        .renew_spot {
            position:relative; 
            padding-right:52%;

            .wrp_tbl {
                .numb {
                    width:29px;
                    height:29px;
                    line-height:32px;
                }
            }

            .wrp_map {
                position:absolute;
                right:0;
                top:0;
                width:48%;
                height:100%;
                margin-top:0px;

                .bg_map {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    z-index: 2;
                }
            } 
        }

    }

}