.noscroll{
    overflow: hidden;
}

.inner{
    @include screenInner($section-width);
}

.inner2{
    max-width: 860px;
    margin-left: 17px;
    margin-right: 17px;

    @media screen and (min-width: 900px){
        @include marginCenter();
    }
}

#contents{
    position: relative;
    padding-top: 105px;

    @include mq('deskTop'){
        padding-top: 100px;
    }
}

.poetry_tit{
    @include marBtm(40);
    border-bottom: 2px solid $lgray;
    max-width: 860px;
    padding-bottom: 6px;
    margin-top: 26px;
    margin-left: 17px;
    margin-right: 17px;

    .title{
        @include fsm('40');
        color: $black;
    }

    .name{
        @include fsm('18');
        color: $gray;
    }

    @media screen and (min-width: 900px){
        @include marginCenter();
    }

    @include mq('deskTop'){
        padding-bottom: 15px;
    }
}

.sectit1{
    @include marBtm(24);
    @include fsm('28');
    color: $black;
}

.poetryimg{
    @include marginCenter();
    max-width: 860px;

    &.poem24{
        margin-bottom: 30px;
    }

    @include mq('deskTop'){
        margin-bottom: 80px;

        &.poem24{
            padding-top: 60px;
            margin-bottom: 80px;
        }
    }
}

.moviesect{
    @include marBtm(60);
    background-color: $green;
    padding: 25px 0 40px;

    .title{
        @include marBtm(24);
        @include fsm('28');
        color: $white;
    }

    @include mq('deskTop'){
        padding: 55px 0 80px;
        background-image: url('../images/poetry/movie_bg.jpg');
        background-repeat: no-repeat;
        background-position: center top;
    }
}

.embed_container{
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 12px;
    overflow: hidden;
    z-index: 1;

    iframe, object, embed{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1
    }
}

.ant_poetry{
    border-top: 1px solid $black;
    padding-top: 26px;

    @include mq('deskTop'){
        border-top-width: 2px;
    }
}

.poretry_slider{
    .item{
        padding: 0 10px;

        img{
            width: 100%;
        }
    }

    .slick-current{
        .item{
            img{
                box-shadow: rgba($black, 0.3) 0 3px 6px;
            }
        }
    }

    .slick-dots{
        li{
            width: 22px;
            height: 22px;
            margin: 0;

            button{
                padding: 0;
                width: 22px;
                height: 22px;
                background-image: url('../images/common/dots.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 11px auto;

                &::before{
                    display: none;
                }
            }

            &.slick-active{
                button{
                    background-image: url('../images/common/dots_active.png');
                }
            }

            @include mq('deskTop'){
                width: 16px;
                height: 16px;
                margin: 0 5px;

                button{
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
            }
        }
    }

    @include mq('deskTop-anoter'){
        .slick-current{
            .item{
                img{
                    box-shadow: rgba($black, 0.2) 0 0 8px;
                }
            }
        }
        
        .slick-prev, .slick-next{
            width: 80px;
            height: 80px;
            background-image: url('../images/common/slide_arrow.png');
            background-repeat: no-repeat;
            z-index: 3;

            &::before{
                display: none;
            }
        }

        .slick-prev{
            left: -43px;
        }

        .slick-next{
            background-position: right;
            right: -43px;
        }

        .slick-prev:hover,
        .slick-prev:focus{
            background-image: url('../images/common/slide_arrow.png');
        }
        .slick-next:hover,
        .slick-next:focus{
            background-image: url('../images/common/slide_arrow.png');
            background-position: right;
        }

        .slick-dots{
            bottom: -40px;
        }
    }
}

.displaybg{
    position: relative;
    height: calc(100vh - 105px);
    min-height: 500px;
    background-image: url('../images/poetry/background_m.jpg');
    background-position: top center;
    background-size: cover;

    .noticebar{
        @include posiCenter('a');
        @include fsm('22');
        color: $white;
        background-color: rgba($color-primary, 0.95);
        width: (678/750)*100%;
        max-width: 610px;
        padding: 10px;
        bottom: 0;
        border-radius: 8px 8px 0 0;
        text-align: center;

        span{
            @include disinBlock('m');
            
            & + span{
                margin-left: 6px;
            }
        }

        .hand{
            animation: movelr 1.4s linear infinite;
        }
    }

    @include mq('deskTop'){
        height: calc(100vh - 100px);
        min-height: 740px;
        background-image: url('../images/poetry/background.jpg'); 

        .noticebar{
            padding: 20px 10px;
        }
    }
}

.disp_slider{
    .item{
        a{
            position: relative;
            display: block;

            img{
                width: auto;
                height: 405px;
            }

            .more{
                display: none;
            }
        }
    }

    @include mq('deskTop'){
        .item{
            a{
                img{
                    height: auto;
                }

                .more{
                    @include transition(0.4s);
                    background: url('../images/icon/plus.png') $yellow no-repeat center;
                    position: absolute;
                    display: block;
                    width: 74px;
                    height: 74px;
                    bottom: 8px;
                    left: 50%;
                    margin-left: -37px;
                    border-radius: 50%;
                    box-shadow: rgba($black, 0.3) 0 6px 10px;
                    opacity: 0;
                }

                &:hover{
                    .more{
                        opacity: 1;
                    }
                }
            }
        }
    }
}




.bgsect{
    padding-top: 25px;
    padding-bottom: 30px;

    &.lastsect{
        padding-bottom: 75px;
        margin-bottom: -40px;
    }

    @at-root .inner &{
        padding-left: 25px;
        padding-right: 25px;
    }

    @include mq('deskTop'){
        padding-top: 40px;
        padding-bottom: 40px;

        &.lastsect{
            padding-bottom: 140px;
            margin-bottom: -80px;
        }

        @at-root .inner &{
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    &.roadbg_2{
        background-image: url('/resources/images/business/road02_bg.jpg');
        background-repeat: no-repeat;
    }
}

.titlewrap{
    @include marBtm(64);
}

.subtit{
    @include fsm('midTitle');
    color: $black;
    position: relative;
    padding: 10px 45px 0 0;

    &::before{
        @include bgicon(30, 2, 60, 4, '/resources/images/common/subtitle_line.png');
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }

    @include mq('deskTop'){
        padding: 15px 0 0;
        margin-bottom: 10px;
    }
}




.sectit2{
    @include marBtm(18);
    @include fsm('28');
    color: $black;
    font-weight: 700;

    .inbcopy{
        @include disinBlock('m');
        @include fsm('16');
        color: $color-default;
        font-weight: 500;
    }
}

.sectit3{
    @include marBtm(10);
    @include fsm('22');
    color: $black;
    font-weight: 700;

    &.ftc_blue3{
        color: $blue3;
    }

    .inbcopy{
        @include disinBlock('m');
        @include fsm('16');
        color: $color-default;
        font-weight: 500;
    }

    &.mode2{
        @include marBtm(5);
        font-weight: 500;
    }
}

.sectit4{
    @include marBtm(20);
    @include fsm('sectorTitle');
    color: $black;
    font-weight: 700;

    span{
        @include disinBlock('t');
        position: relative;
        padding-left: 16px;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 11px;
            height: 11px;
            top: 6px;
            left: 0;
            background-image: url('/resources/images/common/sectit4.png');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.ftc_white{
        color: $white;
        
        span{
            &::before{
                background-image: url('/resources/images/common/sectit5.png');
            }
        }
    }

    @include mq('deskTop'){
        
        span{
            padding-left: 32px;

            &::before{
                width: 22px;
                height: 22px;
                top: 12px;
            }
        }
    }
}

.sectit5{
    @include marBtm(20);
    @include fsm('18');
    color: $black;
    font-weight: 500;
}

.linetit1{
    @include fsm('22');
    color: $black;
    padding-bottom: 16px;
    margin-bottom: 15px;
    font-weight: 700;
    background: url('/resources/images/common/smalltitle_line.png') no-repeat;
    background-size: auto 2px;
    background-position: left bottom;

    &.mode2{
        @include marBtm(28);
        @include paddBtm(10);
        font-weight: 500;
        text-align: center;
        background-position: center bottom;

    }

    @include mq('deskTop'){
        padding-bottom: 21px;
        background-size: auto;
    }
}

.linetit2{
    @include fsm('34');
    color: $black;
    padding-bottom: 12px;
    margin-bottom: 16px;
    font-weight: 700;
    background: url('/resources/images/common/smalltitle_line3.png') no-repeat left bottom;
    background-size: auto 2px;

    @include mq('deskTop'){
        padding-bottom: 20px;
        margin-bottom: 24px;
        background-size: auto;
    }
}

.numtit1{
    @include marBtm(25);
    @include fsm('22');
    color: $white;
    position: relative;
    padding-left: 16px;

    .num{
        @include fsm('80');
        position: absolute;
        left: -5px;
        top: -17px;
        opacity: 0.2;
        line-height: 1;
        font-style: italic;
        font-weight: 700;
    }

    @include mq('deskTop'){
        padding-left: 30px;

        .num{
            left: -8px;
            top: -42px;
        }
    }
}

.numtit2{
    @include marBtm(25);
    @include fsm('22');
    color: $black;
    padding-bottom: 16px;
    margin-bottom: 15px;
    background: url('/resources/images/common/smalltitle_line.png') no-repeat left bottom;
    background-size: auto 2px;

    .num{
        @include disinBlock('m');
        @include fsm('16');
        color: $white;
        width: 23px;
        height: 23px;
        margin-right: 4px;
        text-align: center;
        line-height: 23px;
        border-radius: 50%;
    }

    @include mq('deskTop'){
        padding-bottom: 24px;
        background-size: auto;

        .num{
            width: 32px;
            height: 32px;
            margin-right: 5px;
            line-height: 32px;
        }
    }
}

.subcopy{
    @include fsm('20');
    margin-top: 8px;
}

.smallcopy{
    @include fsm('16');
    margin-top: 2px;
    font-weight: 500;

    span{
        @include disinBlock('t');
        position: relative;
        padding-left: 8px;

        &::before{
            @include fsm('16');
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            left: 0;
        }

        &.bullet1::before{
            content: '*';
        }
    }

    @include mq('deskTop'){
        text-align: center;
    }
}

.graysect{
    background-color: $bggray;
    width: 100%;
}

.gonggong{
    @include fsm('16');
    padding: 30px 0 35px;
    margin-top: 40px;

    .nuri{
        margin-bottom: 18px;
        
        .openarm{
            margin-bottom: 9px;

            & > span{
                @include bgicon(96.5, 24.5, 145, 37, '/resources/images/sub/gonggongnuri.png');
                display: block;
            }
        }

        p{
            strong{
                font-weight: 500;
                text-decoration: underline;
            }
        }
    }

    .contactlist{

        li{
            margin-bottom: 8px;

            .official{
                @include disinBlock('m');
                position: relative;
                padding: 0 10px;
                margin-right: 6px;
                font-weight: 500;

                &::before{
                    background-color: $gray;
                    content: '';
                    display: block;
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    top: 6px;
                    left: 0;
                }

                &::after{
                    @include posiCenter('v');
                    background-color: $dgray;
                    content: '';
                    width: 1px;
                    height: 12px;
                    right: 0;
                }
            }

            .name{
                @include disinBlock('m');

                strong, span{
                    @include disinBlock('m');
                    position: relative;
                }

                strong{
                    font-weight: 500;
                }

                .tel{
                    padding-left: 16px;
                    margin-left: 3px;

                    &::before{
                        @include bgicon(13, 13, 18, 18, '/resources/images/icon/tel.png');
                        content: '';
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 0;
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        margin-top: 80px;

        .nuri{
            display: table;
            width: 100%;

            .openarm{
                display: table-cell;
                margin-bottom: 0;
                vertical-align: middle;
            }

            p{
                display: table-cell;
                vertical-align: middle;
                padding-left: 10px;
            }
        }

        .contactlist{

            li{
                .official{
                    padding: 0 12px;
                    margin-right: 8px;

                    &::before{
                        top: 10px;
                    }

                    &::after{
                        height: 14px;
                    }
                }

                .name{

                    span{
                        margin-left: 6px;
                    }

                    .tel{
                        padding-left: 22px;
                        margin-left: 6px;

                        &::before{
                            top: 4px;
                        }
                    }
                }
            }
        }
    }
}

.tabui1{
    @include marBtm(60);
    position: relative;

    dt{
        background-color: $color-primary;

        a{
            color: $white;
            position: relative;
            padding: 12px 30px;
            font-weight: 700;

            &::after{
                @include transition(0.25s);
                content: '';
                display: block;
                position: absolute;
                width: 13px;
                height: 7px;
                top: 50%;
                right: 14px;
                margin-top: -3.5px;
                background: url('/resources/images/icon/arrow2.png') no-repeat;
                background-size: contain;

                @at-root .tabui1.open > dt > a::after{
                    transform: rotate(180deg);
                }
            }
        }
    }

    dd{
        display: none;

        a{
            color: $color-primary;
            background-color: $white;
            border: 1px solid rgba($lgray,0.5);
            border-top: none;
            padding: 7px 5px;
        }

        &.current{
            a{
                font-weight: 700;
            }
        }
    }

    a{
        @include fsm('tabMenu');
        display: block;
        text-align: center;
    }

    @include mq('deskTop'){
        display: table;
        table-layout: fixed;
        width: 100%;

        dt{
            display: none;
        }

        dd{
            position: relative;
            display: table-cell;
            vertical-align: middle;

            a{
                @include textOverflow();
                color: $black;
                background-color: $white;
                border: 1px solid $color-primary;
                border-left: none;
                padding: 20px 5px 19px;
            }

            &:first-of-type{
                a{
                    border-left: 1px solid $color-primary;
                }
            }

            &.current{
                a{
                    color: $white;
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                }
            }
        }
    }

    @include mq('tabletLte'){
        height: 48px;
        z-index: 5;

        &.open{
            dd{
                display: block;
            }
        }
    }
}

.tablist{
    & > li{
        & > a{
            display: block;
        }
    }
}

.tabpanel{
    &.noshow{
        display: none;
    }
}

.figbrd{
    img{
        border: 1px solid $lgray;
        display: block;
        width: 100%;
    }

    figcaption{
        @include marTop(15);
    }
}

.figbrd2{
    position: relative;

    img{
        display: block;
        width: 100%;
    }

    figcaption{
        @include fsm('15');
        color: $white;
        background-color: rgba($black, 0.4);
        position: absolute;
        width: 100%;
        padding: 7px 5px;
        left: 0;
        bottom: 0;
        text-align: center;

        @include mq('deskTop'){
            display: inline-block;
            width: auto;
            padding: 11px 18px;
            left: auto;
            right: 0;
        }
    }
}

.embed_container{
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 12px;
    overflow: hidden;
    z-index: 1;

    iframe, object, embed{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1
    }
}

.cornerbox1{
    @include fsm('22');
    color: $white;
    background-color: $navy;
    position: relative;
    padding: 12px 20px;
    font-weight: 700;
    text-align: center;

    sup{
        font-size: 0.75rem;

        &::before{
            @include ir();
            @include blind();
            content: '주석';
        }
    }

    &::after{
        border: 10px solid $navy;
        border-right-color: $white;
        border-bottom-color: $white;
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &.mode2{
        &::after{
            border-right-color: $bggray;
            border-bottom-color: $bggray;
        }
    }

    @include mq('deskTop'){
        padding: 14px 27px 13px;

        &::after{
            border-width: 13px;
        }
    }
}

.cornerbox2{
    background-color: $white;
    border: 1px solid $color-primary;
    position: relative;
    padding: 19px 15px;

    &::after{
        @include bgicon(19, 19, 28,28, '/resources/images/common/box_corner4.gif');
        content: '';
        display: block;
        position: absolute;
        right: -1px;
        bottom: -1px;
        z-index: 1;
    }
}

.imgbord{
    border: 1px solid $igray;

    &.padd1{
        padding: 35px 10px;
    }

    @include mq('deskTop'){
        &.padd1{
            padding: 62px 15px;
        }
    }
}

.lrdv{
    .pos_left{
        margin-bottom: 20px;
    }

    &.tbdv{
        .tb_left{
            margin-bottom: 20px;
        }

        .tb_censide{
            display: none;
        }
    }

    @include mq('deskTop'){
        @include clearfix();

        .pos_left, .pos_right{
            width: (700/1410)*100%;
        }

        .pos_left{
            float: left;
            margin-bottom: 0;
        }
        .pos_right{
            float: right;
        }

        &.tbdv{
            display: table;
            width: 100%;

            .tb_left, .tb_right{
                border: 1px solid $igray;
                display: table-cell;
                width: (700/1410)*100%;
            }

            .tb_left{
                
                margin-bottom: 0;
            }

            .tb_censide{
                display: table-cell;
                width: (10/1410)*100%;
            }

            .tb_left > .dlist3,
            .tb_right > .dlist3{
                border: none;
            }
        }
    }
}

.boxtxt1{
    background-color: $bggray;
    padding: 17px 20px;
}

.anglebox1{
    background-color: $blue3;
    color: $white;
    position: relative;
    padding: 32px 18px 35px;

    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 17px;
        height: 17px;
        right: 0;
        bottom: 0;
        background-image: url('/resources/images/common/box_corner2.gif');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &.conermode1{
        &::after{
            background-image: url('/resources/images/common/box_corner2_1.gif');
        }
    }

    @include mq('deskTop'){
        padding: 72px 40px 65px;

        &::after{
            width: 28px;
            height: 28px;
        }
    }
}

.anglebox2{
    background-color: $white;
    border: 1px solid $igray;
    position: relative;
    padding: 20px 20px 18px;

    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 17px;
        height: 17px;
        right: -1px;
        bottom: -1px;
        background-image: url('/resources/images/common/box_corner3.gif');
        background-repeat: no-repeat;
        background-size: contain;
    }

    @include mq('deskTop'){
        padding: 40px 40px 35px;

        &::after{
            width: 28px;
            height: 28px;
        }
    }
}

.frbox1{
    .box_floleft{
        margin-bottom: 27px;
    }

    &.leftmg1{
        .box_floleft{
            margin-bottom: 10px;
        }
    }

    &.widmgmode1, &.widmgmode2{
        .box_floleft{
            margin-bottom: 15px;
        }
    }

    @include mq('deskTop'){
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box_floleft{
            width: (630/1290)*100%;
            margin-bottom: 0;
        }
        .box_floright{
            width: (630/1290)*100%;
        }
        &.leftmg1{
            .box_floleft{
                margin-bottom: 0;
            }
        }

        &.widmgmode1{
            .box_floleft, .box_floright{
                width: (700/1410)*100%;
            }
            
            .box_floleft{
                margin-bottom: 0;
            }
        }

        &.widmgmode2{
            @include clearfix;
            display: block;
            justify-content: normal;
            align-items: normal;

            .box_floleft{
                float: left;
                width: (915/1410)*100%;
                margin-bottom: 0;
            }
            
            .box_floright{
                float: right;
                width: (465/1410)*100%;
            }
        }

        &.widmgmode3{
            @include clearfix;
            display: block;
            justify-content: normal;
            align-items: normal;

            .box_floleft{
                float: left;
                width: (665/1410)*100%;
                margin-bottom: 0;
            }
            
            .box_floright{
                float: right;
                width: (705/1410)*100%;
            }
        }

        &.widmgmode4{
            .box_floleft{
                width: (820/1410)*100%;
                margin-bottom: 0;
            }

            .box_floright{
                width: (556/1410)*100%;
            }
        }
    }
}

.frbox2{
    display: flex;
    justify-content: space-between;

    .box_floleft, .box_floright{
        width: (324/675)*100%;
    }

    @include mq('deskTop'){
        &.widmgmode2{
            .box_floleft{
                width: (865/1410)*100%;
            }
            .box_floright{
                width: (465/1410)*100%;
            }
        }
        &.widmgmode3{
            .box_floleft{
                width: (452/1410)*100%;
            }
            .box_floright{
                width: (878/1410)*100%;
            }
        }
        &.widmgmode4{
            .box_floleft{
                width: (1040/1410)*100%;
            }
            .box_floright{
                width: (345/1410)*100%;
            }
        }
    }
}

.iframed{
    width: 100%;
    height: 100vh;
    overflow: auto;
    border: none;
}

.numbox{
    @include disinBlock('m');
    @include fsm('15');
    color: $white;
    background-color: $color-primary;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;

    @include mq('deskTop'){
        width: 23px;
        height: 24px;
        line-height: 24px;
    }
}