/******** 문화 관광 예술 ********/
/* 공통 */
.cont_culturetour {

    .tit_area {
        margin-bottom:9px;
    }

    .thumb {
        position:relative;
        display:block;
        width:100%;
        background:transparent no-repeat 50% 50%;
        background-size:cover;
    
        &::before {
            display:block;
            width:100%;    
            height:0px;
            line-height:0;
            content:'';
        }
    }

    .edge_line {
        position:relative;
        border:1px solid $igray;
    
        &::before {
            position:absolute;
            right:-1px;
            bottom:-1px;
            background:#fff;
            width:20px;
            height:20px;
            z-index:2;
            content:'';
        }
    
        &::after {
            position:absolute;
            right:10px;
            bottom:-6px;
            border-right:1px solid $igray;
            width:0px;
            height:30px;
            transform:rotate(45deg);
            z-index:2;
            content:'';
        }
    }

    .region_site {
        padding-top:30px;
        border-top:2px solid $lgray; 
    }
    
    @include mq('deskTop'){

        .tit_area {
            margin-bottom:18px;    

            h4.sectit2,.smallcopy {
                display:inline-block;
                margin:0;
            }

            h4.sectit2 {
                margin-right:20px;
            }
        }

        .edge_line {
            &::before {
                width:30px;
                height:30px;
            }
    
            &::after {
                right:15px;
                bottom:-7.5px;
                width:0px;
                height:45px;
            }	
        }

        .region_site {
            border-top-width:4px;
        }
    }

}

/* 국립새만금박물관 */
.exhibition_hall {

    @each $exhbt_hall in hall, history {
        .img_#{$exhbt_hall}{
            position:relative;
            width:100%;
            height:0;
            background-image:url('/resources/images/culturetour/exhibition_hall/img_#{$exhbt_hall}.jpg');
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:auto 100%;
        }
    }

    .subcopy {
        word-break:normal;

        br {
            display:none;
        }

    }

    

    .sect_hall {

        .img_hall {
            @include marTop(60);
            padding-bottom:69.333%;
            background-position:20% 50%;
        }

    }

    .sect_concept {

        .img_concept {
            @include marTop(60);
            .img_mo {display: block}
            .img_pc {display: none}
        }

    }

    .sect_display {

        .li_display {

            li {
                width:100%;
            }
    
            .thumb {
                margin-top:30px;
            }
            
            .info_txt {
                position:relative;
                @include marTop(30);
                @include paddTop(26);
                @include fsm('18');
                color:$color-default;
                font-weight:500;
                text-align:center;
    
                &::before {
                    position:absolute; 
                    top:0;
                    left:0;
                    right:0;
                    height:4px;
                    background:url('/resources/images/common/smalltitle_line.png') no-repeat 50% 0%;
                    background-size:auto 3px;
                    z-index:2;
                    content:'';
                }
            }
    
        }
        
    }

    .sect_scale {
        
        .scale_box {
            position:relative;
            width:100%;
            height:0;
            background-image:url('/resources/images/culturetour/exhibition_hall/bg_scale_mo.jpg');
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:auto 100%;
            padding-bottom:119.4%;
            
            .box_wrap {
                position: absolute;
                left:15px;
                right:15px;
                bottom:15px;
                top:15px;
                z-index: 2;

                & > div {
                    position:relative;
                    width:100%;
                    z-index:1;
                    text-align: center;
                }
    
                div.box_top {
                    height:35%;
                    border-bottom:4px solid rgba(255,255,255,0.3);

                    div {
                        display:table;
                        width:100%;
                        height:100%;

                        p {
                            @include fsm('22');
                            display:table-cell;
                            height:100%;
                            vertical-align:bottom;
                            color:$white;
        
                            span {
                                display:block;
                                text-shadow:1px 1px 3px rgba(0,0,0,0.4);
                            }
        
                            .sp_numb {
                                font-size:28px;
                                font-weight:700;
                            }

                            .sp_txt {
                                @include paddBtm(30);
                            }

                        }
                    }
                }
    
                div.box_btm {
                    height:65%;

                    ul {
                        width:100%;
                        max-width:290px;
                        padding-top:15px;
                        margin:auto;

                        li {
                            display:inline-block;
                            text-align:center;         
                            
                            div {
                                display:table-cell;
                                width:76px;
                                height:76px;
                                background-color:rgba(1,122,201,0.95);
                                border-radius:50%;
                                overflow:hidden;
                                vertical-align:middle;

                                i.ico {
                                    display:block;
                                    width:27px;
                                    height:27px;
                                    margin:auto;
                                    background:no-repeat 50% 50%;
                                    background-size:100% auto;
                                    content:'';
                                }
            
                                span {
                                    display:block;
                                    margin-top:3px;
                                    color:$white;
                                    font-size:12px;
                                    line-height:1.2;
                                    text-align:center;
                                }

                            }
        
                        }
        
                        @for $i from 1 through 5 {
                            li:nth-child(#{$i}) .ico {
                                background-image:url('/resources/images/culturetour/exhibition_hall/ico_scale#{$i}.png');
                            }
                        }
        
                    }
                }

            }
        }
    }

    .sect_motive {
        
        .li_motive {
            @include marTop(40);
            
            li {
                margin-top:20px;

                &:first-child {
                    margin-top:0px;
                }
            }

            .info_motive {

                span {
                    @include paddAll(28);
                    @include fsm('16');
                    display:block;
                    font-weight:700;
                    line-height:1.2;
                }

            }

        }
    }

    .sect_layout {
        
        .li_layout {
            @include marTop(40);
            
            li {
                margin-top:20px;
                &:first-child {
                    margin-top:0px;
                }

            }

            .info_layout {
                span {
                    @include paddAll(28);
                    @include fsm('16');
                    display:block;
                    font-weight:700;
                    line-height:1.2;
                }
            }

        }
    }

    .sect_board {

        .text {
            position:relative;
            display:block;
            width:100%;
            height:0; 
            line-height:0;
            padding-bottom:121.866%;
            background:url('/resources/images/culturetour/exhibition_hall/bg_hall_promotion_mo.jpg') no-repeat 50% 50%;
            background-size:auto 100%;

            p {
                @include blind();
            }
        }

        .list_down {
            @include marTop(130);
        }

    }

    /* 온리모바일 */
    @include mq('onlyMobile'){

        .sect_scale {
            .scale_box {
                background-image:url('/resources/images/culturetour/exhibition_hall/bg_scale_pc.jpg');
                padding-bottom:42.55%;

                .box_wrap div.box_btm ul {
                    max-width:none;
                }
            }
        }

    }

    /* 모바일-세로 */
    @media screen and (max-width:420px) {

        .sect_scale {

            .scale_box {
                background-image:url('/resources/images/culturetour/exhibition_hall/bg_scale_mo.jpg');
                padding-bottom:119.4%;
            }

        }

    }

    /* 태블릿 */
    @include mq('tablet'){
        
        .sect_concept {

            .img_concept {
                .img_mo {display: none}
                .img_pc {display: block}
            }

        }

        .sect_scale {

            .scale_box {
                height:440px;
                padding-bottom:0;
                background-image:url(/resources/images/culturetour/exhibition_hall/bg_scale_pc.jpg);
                
                .box_wrap {

                    div.box_top {
                        height:45%;

                        p .sp_numb {
                            font-size:34px;
                        }

                        p .sp_txt {
                            font-size:18px;
                        }
                    }

                    div.box_btm {
                        height:55%;
                        
                        ul {
                            max-width:none;

                            li div {
                                width:120px; 
                                height:120px;

                                i.ico {
                                    width:40px;
                                    height:40px;
                                }

                                span {
                                    margin-top:10px;
                                    font-size:15px;
                                }
                            }
                        }

                    }

                }

            }

        }

        .sect_display {

            .li_display {
                @include clearfix();
    
                li {
                    float:left;
                    width:32%;
                    margin-left:2%;
    
                    &:first-child {
                        margin-left:0;
                    }
                }
                
                .thumb {
                    margin-top:0px;
                }

                .info_txt {
                    &::before {
                        background-size:auto 4px;
                    }
                }
            }
        }

        .sect_motive {

            .inner {
                max-width:1090px;
                margin:auto;
            }

            .li_motive {
                @include clearfix();

                li {
                    float:left;
                    width:50%;
                    margin-top:0; 

                    &:nth-child(odd){
                        padding-right:5px;
                    }
                    &:nth-child(even){
                        padding-left:5px;
                    }
                }
            }

        }

        .sect_layout {
                        
            .inner {
                max-width:1090px;
                margin:auto;
            }

            .li_layout {
                @include clearfix();

                li {
                    float:left;
                    width:50%;
                    margin-top:0; 

                    &:nth-child(1){
                        padding-right:5px;
                    }

                    &:nth-child(2){
                        padding-left:5px;
                    }

                    &:nth-child(3){
                        width:100%;
                        margin-top:10px;
                    }
                }
            }
        }

        .sect_board {

            .text {
                width:100%;
                height:720px;
                margin:0;
                padding:0px;
                background:url('/resources/images/culturetour/exhibition_hall/bg_hall_promotion_tablet.jpg') no-repeat 50% 50%;
                background-size:auto 100%;
            }
        }
    }
    
    /* 데스크탑1 */
    @include mq('deskTop'){
        
        .subcopy {
            word-break:keep-all;

            br {
                display:inline-block;
            }
            
        }

        .sect_hall {

            .img_hall {
                height:520px;
                padding-bottom:0;
                background-position:50% 50%;
            }

        }

        .sect_scale {

            .scale_box {
                height:600px;
                
                .box_wrap {
                    left:80px;
                    right:80px;

                    div.box_top {
                        height:45%;
                        border-bottom:none; 

                        div {
                            p .sp_numb {
                                font-size:50px;
                                sup {
                                    font-size:25px;
                                }
                            }
    
                            p .sp_txt {
                                font-size:22px;
                            }
                        }

                    }

                    div.box_btm {
                        height:55%;
                        
                        ul {
                            max-width:none;
                            padding-top:30px;
                            border-top:4px solid rgba(255,255,255,0.3);

                            li {
                                padding:0 5px;
                                
                                div {
                                    width:130px; 
                                    height:130px;
    
                                    i.ico {
                                        width:46px;
                                        height:46px;
                                    }
    
                                    span {
                                        margin-top:15px;
                                        font-size:17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .sect_board {

            .text {
                height:1000px;
                background:url('/resources/images/culturetour/exhibition_hall/bg_hall_promotion_pc.jpg') no-repeat 50% 50%;
            }

            .list_faq {
                position:relative;
                margin-top:-280px;
                background:#fff;
                
                li table td {
                    text-align:left;
                }
            }
        }
    }

    /* 데스크탑2 */
    @include mq('deskTop-anoter'){
        .sect_scale {

            .scale_box {
                
                .box_wrap {
                    left:150px;
                    right:150px;

                    div.box_btm {
                        
                        ul {

                            li {
                                padding:0 10px;
                                
                                div {
                                    width:170px; 
                                    height:170px;
    
                                    i.ico {
                                        width:54px;
                                        height:54px;
                                    }
    
                                    span {
                                        margin-top:15px;
                                    }
                                }

                            }
                            
                        }

                    }

                }

            }

        }       
        
    }

}

/* 새만금포토존 */
.photozone {
    
    .subcopy {
        @include marBtm(60);
    }

    section { 
        position:relative;
    }

    .mo_pzmap {
        display:block;
    }   
    .pc_pzmap {
        display:none;
    }

    .tab_box {
        display:none;
    }

    .li_pzone {
    
        li {
            @include marTop(40);
        }
        
        .thumb {
            &::before {
                padding-bottom:66.86%;
            }
        }
        
        .info_pzone {
            @include paddAll(40);

            h5 {
                @include fsm('22');
                @include paddBtm(20);
                @include marBtm(20);
                display:block;
                color:$black;
                font-weight:700;
                background:url('/resources/images/common/smalltitle_line.png') no-repeat left bottom;
                background-size:auto 2px;
            }

            p {
                @include fsm('18');
            }
        }

        @for $i from 1 through 4 {
            li:nth-child(#{$i}) .thumb {
                background-image:url('/resources/images/culturetour/photozone/img_photozone#{$i}.jpg');
            }
        }

    }

    @include mq('deskTop'){

        section {
            @include clearfix();
            width:100%;
        }

        .mo_pzmap {
            display:none;
        }
        .pc_pzmap {
            display:block;
        }

        .tab_box {
            display:block;
            position:absolute;
            left:0;
            top:0;
            width:50%;
            height:100%;

            ul {
                display:block;

                li {
                    position:absolute;
                    width:5.67%;
                    height:auto;
                    background:#597091;
                    border-radius:20px;
                    overflow:hidden;
                    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
                    z-index:2;

                    &.on {
                        background:$color-primary;
                    }

                    & > a {
                        position:relative;
                    }

                    & > a::after {
                        color: #fff;
                        position: absolute;
                        left:0;
                        right:0;
                        top:0;
                        bottom:0;
                        width:100%;
                        height:100%;
                        padding:27% 0;
                        text-align: center;
                        font-size: 1.15vw;
                        line-height: 1;
                        font-weight: bold;
                        text-indent: 0;
                        box-sizing:border-box;
                    }

                    &:nth-child(1){
                        left:59.2%;
                        top:27.2%;

                        & > a::after {
                            content:'1';
                        }
                    }

                    &:nth-child(2){
                        left:46.3%;
                        top:45.7%;

                        & > a::after {
                            content:'2';
                        }                        
                    }

                    &:nth-child(3){
                        left:53.3%;
                        top:55.7%;

                        & > a::after {
                            content:'3';
                        }                                 
                    }

                    &:nth-child(4){
                        left:64.8%;
                        top:76.2%;

                        & > a::after {
                            content:'4';
                        }                                             
                    }

                    a {
                        display:block;
                        height:0;
                        padding-bottom:100%;    
                        font-size:1px;
                        text-indent:-99999px;
                        overflow:hidden;
                    }

                }

            }

        }

        .li_pzone {  
            position:absolute;
            left:50%;
            top:0;
            bottom:0;
            display:table;
            width:50%; 
            height:100%;
            box-sizing:border-box;

            & > div {
                position:relative; 
                width:100%;
                height:100%;
                display:table-cell;
                vertical-align:middle;
                text-align:center;
            }

            & ul {
                display:inline-block;
                width:436px;
            }

            & ul > li {
                position:relative;
                margin-top:0;
                
                &::before {
                    content: '';
                    position:absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:30px;
                    background:#fff;
                }
            }

            .cont_pzone {
                display:none;
                &.on {
                    display:block;
                }
            }

            .info_pzone { 
                position:relative;
                text-align:left;
                background:url('/resources/images/culturetour/photozone/line_edge_photozone.png') no-repeat 0% 100%;
                h5 {
                    background-size:auto;
                }
            
                &.edge_line::before {
                    background:none;
                }
                &.edge_line::after {
                    border:none;
                }
            }
        }
    }
}

/* 관광명소 볼거리 */
.tour_spot {
    
    .tit_area {
        margin-bottom:0px;
    }

    .li_spot {
        @include marBtm(30);

        li {
            @include clearfix();
            @include marTop(50);
            position:relative;
            padding-top:25px;
            border-top:1px solid $lgray;

            &:first-child {
                margin-top:0;
                border-top:none;
            }
        }

        .info_spot {
            margin-top:15px;
            color:$black;
            font-size:0.813rem;
            
            h5 {
                @include fsm('22');
                color:$black;
                font-weight:700;
                padding-bottom:5px;
                background:url('/resources/images/common/smalltitle_line.png') no-repeat left bottom;
                background-size:auto 2px;
            }
            
            p,dl {
                margin-top:10px;
            }

            dl {
                @include clearfix();
                
                dt {
                    float:left;
                    position:relative;
                    min-width:70px;
                    padding-left:10px;
                    padding-right:10px;
                    margin-right:10px;
                    font-weight:700;
                    
                    &::before {
                        position:absolute;
                        left:0; 
                        top:6px;
                        width:4px;
                        height:4px;
                        background:#8a8c8e;
                        z-index:2;
                        content:'';
                    }

                    &::after {
                        position:absolute;
                        right:0; 
                        top:3px;
                        width:1px;
                        height:10px;
                        background:$dgray;
                        z-index:2;
                        content:'';
                    }
                }

                dd {
                    padding-left:82px;
                    padding-bottom:5px;

                    span {
                        display:inline-block;
                    }
                }
            }
        }

        .btnwrap {
            margin-top:10px;
        }

        &.fest {
            @include clearfix();

            li {
                margin-top:0;
                border:none;

                & .info_spot {
                    position: relative;
                    padding: 20px;
                    margin-top:0;

                    h5 {
                        @include fsm('20');
                        display:block;
                        color:$black;
                        font-weight:700;
                        padding-bottom:10px;
                        background:url('/resources/images/common/smalltitle_line.png') no-repeat left bottom;
                        background-size:auto 2px;
                    }
                }
            }

            .thumb .ico_month {
                @include fsm('16');

                position:absolute;
                left:0;
                top:0;
                padding:8px;
                background:#1977f3;
                color:#fff;
                font-weight:500;
                z-index:2;
            }

            .thumb > img {
                width:100%;
            }
        }
    }

    @include mq('deskTop'){
        .li_spot { 

            li {
                padding-top:50px;
            }

            .thumb {
                float:left;
                width:32%;
            }

            .info_spot {
                float:left;
                width:68%;
                margin-top:0px;
                padding-left:4.25%;
                padding-right:1.5%;
                font-size:1rem;

                h5 {
                    padding-bottom:10px;
                    background-size:auto;
                    font-size:1.625rem;
                }

                p,dl {
                    margin-top:20px;
                }

                dl {
                    dt {
                        min-width:80px;
                        
                        &::before {
                            top:8px;
                        }

                        &::after {
                            top:4px;
                            height:14px;
                        }
                    }

                    dd {
                        padding-left:92px;
                        padding-bottom:10px;
                    }
                }
            }

            .btnwrap {
                position:absolute;
                right:0;
                top:50px;
                margin-top:0px;
                z-index:2;
            }


            &.fest {

                li  {
                    width:48.936%;
                    padding-top:30px;

                    &:nth-child(1),
                    &:nth-child(2) {
                        padding-top:0;
                    }

                    .thumb {
                        width:100%;
                        
                        & > img {

                            &.disp_pc {
                                display:none;
                            }
                            &.disp_mo {
                                display:block;
                            }
                        }

                    }

                    .info_spot {
                        height:253px;
                        padding-right:0;
                        box-sizing:border-box;
                        width:100%;
                    }

                }
                
                .flo_left {
                    float:left;
                }
                .flo_right {
                    float:right;
                }
                
                .btnwrap {
                    position:relative;
                    top:auto;
                    right:auto;
                    left:auto;
                    margin-top:0px;
                    z-index:1;
                }
            }            
        }
    }

    @include mq('deskTop-anoter'){
        .li_spot { 
            &.fest {

                li {

                    .thumb {
                        width:40%;
                        height:253px;
                        overflow: hidden;

                        & > img {
                            width:auto;
                            height:100%; 

                            &.disp_pc {
                                display:block;
                            }
                            &.disp_mo {
                                display:none;
                            }
                        }

                    }

                    .info_spot {
                        width:60%;
                        height:253px;
                    }

                }

            }
        }
    }
}

/* 추천관광 코스 */
.tour_course {

    .course_area {

        .course_box {
            @include marBtm(30);
            background:$bggray;
            margin-left:-20px; 
            margin-right:-20px;
            padding:20px; 

            h5 {
                @include fsm('28');
                color:$black;
                text-align:center;
            }

            .sub_txt {
                @include fsm('16');
                font-weight:700;
                text-align:center;
            }

        }

        .thumb {
            width:100%;
            background-color:#eee;
            @include marTop(30);

            &::before {
                padding-bottom:39.215%;
            }

            .tag_origin {
                @include fsm('15');
                @include paddAll(12);
                position:absolute;
                left:0;
                bottom:0;
                width:100%;
                background:rgba(0,0,0,0.4);
                color:$white;
                text-align:center;
                line-height:1.2;
                z-index:2;
            }
        }

        ul {
            @include clearfix();
            position:relative;
            
            li {
                float:left;
                position:relative;
                width:calc(100%/3);
                margin-top:60px;
                
                &::before {
                    position:absolute;
                    top:-1px;
                    left:0;
                    right:0;
                    border-bottom:2px solid $dgray;
                    content:'';
                }

                span {
                    display:block;
                    position:relative;
                    min-height:40px;
                    padding-top:10px;
                    font-size:12px;
                    text-align:center;
                    word-break:keep-all;
                    box-sizing:initial;

                    &::before {
                        position:absolute;
                        left:50%;
                        top:-6px;
                        width:8px;
                        height:8px;
                        margin-left:-6px;
                        background:$dgray;
                        border:2px solid #fff;
                        border-radius:50%;
                        content:'';
                    }

                }

                &.start::before {
                    left:50%;
                }

                &.start::after {
                    position:absolute;
                    left:50%;
                    top:-69px;
                    width:27px;
                    height:69px;
                    margin-left:-40px;
                    background:url('/resources/images/culturetour/tour_course/img_man.png') no-repeat 50% 0;
                    background-size:100% auto;
                    z-index:2;
                    content:'';
                }

                &.end::before {
                    right:50%;
                }

                &.start span::before,
                &.end span::before {
                    background:$color-primary;
                }
                
                &.start em,
                &.end em {
                    position:absolute;
                    top:-35px;
                    left:50%;
                    margin-left:-25px;
                    min-width:50px;
                    padding:2px 4px;
                    background:$white;
                    border-radius:20px;
                    text-align:center;
                    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
                    font-size:12px;
                    z-index:3;
                }
                
                &.start em i,
                &.end em i {
                    margin-right:2px;
                    font-style:normal;
                }
                
            }

        }

        @for $i from 1 through 6 {
            &.gunsan .course_box .thumb.gs#{$i} {
                background-image:url('/resources/images/culturetour/tour_course/img_course_gs#{$i}.jpg');
            }
            &.gimje .course_box .thumb.gj#{$i} {
                background-image:url('/resources/images/culturetour/tour_course/img_course_gj#{$i}.jpg');
            }
            &.buan .course_box .thumb.ba#{$i} {
                background-image:url('/resources/images/culturetour/tour_course/img_course_ba#{$i}.jpg');
            }
        }

    }

    @include mq('deskTop'){
        
        .course_area {

            .course_box {
                margin-left:0px; 
                margin-right:0px; 
                padding:45px 60px;

                .thumb {
                    @include marginCenter();
                    width:765px;

                    .tag_origin {
                        left:auto;
                        right:0;
                        width:auto;
                        line-height:1;
                    }
                }

                ul {
                    margin-top:50px;

                    li {
                        width:calc(100%/6);

                        span {
                            min-height:70px;
                            padding-top:20px;
                            font-size:16px;
                            font-weight:500;

                            &::before {
                                width:16px;
                                height:16px;
                                top:-10px;
                                margin-left:-10px;
                            }
                        }

                        &.start::after {
                            top:-114px;
                            width:45px;
                            height:114px;
                            margin-left:-58px;
                        }

                        &.start em,
                        &.end em {
                            top:-45px;
                            margin-left:-35px;
                            min-width:70px;
                            padding:6px 8px;
                            font-size:15px;
                            line-height:1;
                        }
                        
                    }

                    @for $i from 1 through 10 {

                        &.divide#{$i} li {
                            width:calc(100%/#{$i});
                        }

                    }
                    
                }

            }

        }

    }

}

/* 먹거리 */
.foodzone {
    
    .li_food {
        @include clearfix();
        
        li {
            @include marBtm(40);
            float:left;
            position:relative;
            width:50%;
            box-sizing:border-box;
            
            &:nth-child(odd){
                padding-right:1.5%;
            }

            &:nth-child(even){
                padding-left:1.5%;
            }
        }
        
        .thumb {
            &::before {
                padding-bottom:76.9%;
            }            
        }

        .info_food {
            @include paddAll(40);
            position:relative;

            span {
                @include fsm('22');
                display:block;
                color:$black;
                font-weight:700;
                padding-bottom:10px;
                background:url('/resources/images/common/smalltitle_line.png') no-repeat left bottom;
                background-size:auto 2px;
            }
        }

        @for $i from 1 through 15 {
            &.gunsan li:nth-child(#{$i}) .thumb {
                background-image:url('/resources/images/culturetour/foodzone/img_foodzone_gs#{$i}.jpg');
            }
            &.gimje li:nth-child(#{$i}) .thumb {
                background-image:url('/resources/images/culturetour/foodzone/img_foodzone_gj#{$i}.jpg');
            }
            &.buan li:nth-child(#{$i}) .thumb {
                background-image:url('/resources/images/culturetour/foodzone/img_foodzone_ba#{$i}.jpg');
            }
        }

    }

    @include mq('deskTop'){
        .li_food {
            width: 102.1%;
            margin-left:-1.05%;
            
            li {              
                width:20%;
                padding:0px 1.05% !important;
            }

            .info_food {
                span {
                    padding-bottom:10px;
                    background-size:auto;
                }
            }
        }
    }
}

/* 교통정보 */
.location_info {
    @include paddBtm(80);

    ul {
        @include clearfix();

        li {
            float:left;
            width:100%;
            margin-top:15px;
            text-align:center;
            border:1px solid $dgray;
            
            &:first-child {
                margin-top:0px;
            }

            a {
                @include paddTop(80);
                @include paddBtm(80);
                display:block;
            }
            
            span {
                display:block;
                position:relative;
                min-width:50%;
                margin:auto;

                &.img_logo {
                    @include ir();
                    @include marBtm(14);
                    width:50%;
                    height:0;
                    padding-bottom:15.625%;
                    background-size:100% auto;
                }
                
                i {
                    display:inline-block;
                    margin-left:8px;
                    vertical-align:middle;
                    margin-top:-5px;
                }

            }

        }

        @for $i from 1 through 3 {
            li:nth-child(#{$i}) .img_logo {
                background-image:url('/resources/images/culturetour/location_info/logo_location#{$i}.gif');
            }
        }
    }    

    @include mq('deskTop'){
        ul {
            li {
                width:32%;
                margin:0;
                margin-left:2%;

                &:first-child {
                    margin-left:0;
                }

            }
        }
    }
}

/* 새만금 어린이 그림그리기 공모전 */
.art_contest {

    .subcopy {
        @include marBtm(80);
    }

    .bbs_search {
        position:relative;

        h5 {
            margin-bottom:8px;
            font-size:1rem;
            color:$black;
        }

    }

    @include mq('deskTop'){
        .bbs_search {
            
            h5 {
                position:absolute;
                left:0;
                top:8px;
                margin-bottom:0px;
                font-size:1.625rem;
                z-index:2;
            }

        }
    }
}

.sect_cshall {
    @include marTop(60);

    .cshall_box {
        position:relative;
        padding:18px;
        background:url('/resources/images/culturetour/exhibition_hall/bg_cs_hall_mo.jpg') no-repeat 50% 0;
        background-size:100% auto;
        color:$white;

        .sectit2 {
            color:$white;
            line-height:1.2;
        }

        ul {
            margin-top:-3px;
            position:relative;
            width:100%;

            li {
                width:50%;
                max-width:130px;
                margin-top:10px;
                padding-top:10px;
                border-top:1px solid rgba($white,0.2);

                &:first-child {
                    margin-top:0;
                    padding-top:0;
                    border:none;
                }

                span {
                    position:relative;
                    display:block;
                    line-height:1.2;
                    margin-top:6px;
                }

                .depart {
                    padding:4px 0;
                    margin-top:0;
                    font-size:12px;
                    background:#2e3336;
                    text-align:center;
                }

                .name {
                    font-size:17px;
                    font-weight:500;
                }

                .tel {
                    padding-left:18px;
                    font-size:12px;
                    font-weight:700;
                    
                    &::before {
                        position:absolute;
                        left:0px;
                        top:0;
                        width:14px;
                        height:14px;
                        background:url('/resources/images/culturetour/exhibition_hall/ico_tel.png') no-repeat 50% 0;
                        background-size:auto 100%;
                        content:'';
                    }

                }
                
            }
            
        }

        a.btn_counseling {
            position:absolute;
            top:50%;
            right:18px;
            width:100px;
            height:100px;
            margin-top:-50px;
            background:$blue3;
            color:$white;
            z-index:2;

            span {
                @include fsm('16');
                position:relative;
                display:block;
                margin-top:21px;
                padding-top:34px;
                text-align:center;

                &::before {
                    position:absolute;
                    left:50%;
                    top:0px; 
                    margin-left:-15px;
                    width:32px;
                    height:32px;
                    background:url('/resources/images/culturetour/exhibition_hall/ico_cs_hall.png') no-repeat 50% 50%;
                    background-size:auto 100%;
                    content:'';
                }

                &::after {
                    @include fsm('22');    
                    margin-left:3px;
                    font-weight:bold;
                    content:'+';
                }
            }
        }
    }

    @include mq('tablet'){
        .cshall_box {
            height:315px;
            padding:40px;
            background:url('/resources/images/culturetour/exhibition_hall/bg_cs_hall_pc.jpg') no-repeat 50% 0;
            background-size:auto 100%;

            .sectit2 {
                margin-bottom:0;
            }

            ul {
                @include clearfix();
                margin-top:45px;

                li {
                    float:left; 
                    padding:0 0 0 40px;
                    margin:0 0 0 40px;
                    width:auto;
                    max-width:none;
                    border-top:none;
                    border-left:1px solid rgba(255,255,255,0.2);

                    &:first-child {
                        padding:0;
                        margin:0;
                    }

                    .depart {
                        padding:5px 4px;
                        font-size:14px;
                    }

                    .name {
                        margin-top:13px;
                        font-size:24px;
                        font-weight:700;
                        letter-spacing:-1px;
                    }

                    .tel {
                        font-size:18px;
                        margin-top:12px;
                        padding-left:24px;

                        &::before {
                            top:1px;
                            width:18px;
                            height:18px;
                        }
                    }
                }
            }

            a.btn_counseling {

                right:40px;
                width:164px;
                height:164px;
                margin-top:-82px;

                span {
                    font-size:1rem;
                    margin-top:44px;
                    padding-top:52px;

                    &::before {
                        margin-left:-24px;
                        width:48px;
                        height:48px;
                    }
                }
            }
        }
    }

    @include mq('deskTop'){

        .cshall_box {

            ul {
                @include clearfix();
                margin-top:32px;

                li {
                    padding: 0 0 0 45px;
                    margin: 0 0 0 45px;

                    .depart {
                        padding:5px 8px;
                        font-size:16px;
                    }

                    .name {
                        margin-top:15px;
                        font-size:28px;
                    }

                    .tel {
                        margin-top:16px;
                        font-size:20px;

                        &::before {
                            top:1px;
                            width:18px;
                            height:18px;
                        }
                    }
                }
            }

            a.btn_counseling {

                right:40px;
                width:164px;
                height:164px;
                margin-top:-82px;

                span {
                    font-size:1rem;
                    margin-top:44px;
                    padding-top:52px;

                    &::before {
                        margin-left:-24px;
                        width:48px;
                        height:48px;
                    }
                }
            }
        }
    }
}

.sect_history {

    .img_history{
        position: relative;
        padding-bottom:73.958%;

        &.bgcustom{
            position: relative;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;

            &.road1-1{
                background-image: url('/resources/images/business/road1_01.jpg');
            }
            &.road2-1{
                background-image: url('/resources/images/business/road2_01.jpg');
            }
            &.road3-1{
                background-image: url('/resources/images/business/road3_01.jpg');
            }
            &.road3-2{
                background-image: url('/resources/images/business/road3_02.jpg');
            }
            &.hstr_smartwater{
                background-image: url('/resources/images/business/smartwater4_1.png');
                background-size:auto 100%;
                background-position:50% 50%;
            }
            &.railair{
                background-image: url('/resources/images/business/railair_01.jpg');
            }
            &.hstr_renewenergy {
                background-image: url('/resources/images/business/renewenergy1_5.jpg');
                background-size:auto 100%;
                background-position:50% 50%;
            }
        }
    }

    .img_hiswrap{
        &.histab_img{
            .img_history{
                &.noshow{
                    display: none;
                }
            }
        }
    }

    .txt_history {
        position:relative;
        width:100%;
        height:0;
        background-image:url('/resources/images/culturetour/exhibition_hall/bg_history.jpg');
        background-repeat:no-repeat;
        background-position:50% 50%;
        background-size:auto 100%;
        padding-bottom:135%;

        &::after {
            position:absolute;
            left:0;
            right:0;
            bottom:0;
            height:40px;
            background: linear-gradient(to bottom,rgba(1,52,131,0) 0%,rgba(1,52,131,1) 100%); 
            z-index:2;
            content:'';
        }

        .yearhistory {
            position:absolute;
            left:14px;
            right:14px;
            top:14px;
            bottom:14px;
            box-sizing:border-box;
            overflow-y:auto;

            .yaert1{
                @include fsm('18');
                color: $white;
                margin-bottom: 10px;
                font-weight: 700;
            }
            
            & > ul {
                position:relative;
            }

            li {
                @include paddLeft(40);

                position:relative;
                padding-bottom:15px;
                color:$skyBlue;
                font-weight:500;
                font-size:14px; 

                &::before {
                    position:absolute;
                    left:0px;
                    top:4px; 
                    width:8px;
                    height:8px;
                    border-radius:50%;
                    background:$skyBlue;
                    z-index:1;
                    content:'';
                }

                &::after {
                    position:absolute;
                    left:4px;
                    top:4px; 
                    width:1px;
                    height:100%;
                    background:$skyBlue;
                    z-index:2;
                    content:''; 
                }

                &:last-child::after {
                    display:none;
                    content:''; 
                }

                span {
                    display:block;
                    color:$white;
                    font-weight: 700;
                }

                .soon{
                    margin-bottom: 5px;

                    & > em{
                        @include disinBlock('m');
                        @include fsm('15');
                        color: $white;
                        border: 1px solid rgba($white, 0.4);
                        padding: 4px 12px;
                        font-weight: 500;
                        line-height: 1;
                        border-radius: 12px;
                    }
                }

                &.longdot{
                    &::before{
                        top: 32px;
                    }

                    &:last-child::after{
                        display: block;
                        height: 33px;
                    }
                }

                .clearfix{

                    .frig{
                        .fristxt{
                            @include fsm('14');
                            display: block;
                            font-style: normal;
                        }
                        
                    }
                }
            }
        }

        &.intabwrap{
            .yearhistory{
                top: 92px;

                &.tab_close{
                    display: none;
                }
            }
        }

        .histab{
            padding: 30px 0 0 15px;

            & > li{
                @include disinBlock('m');
                margin-right: 15px;

                &:last-of-type{
                    margin-right: 0;
                }

                a{
                    @include fsm('18');
                    color: $white;
                    display: block;
                    padding: 12px 15px;
                    line-height: 1;
                }

                &.active{
                    a{
                        background-color: $color-primary;
                        box-shadow: rgba($black, 0.3) 3px 3px 6px;
                        font-weight: 700;
                    }
                }
            }
        }

        &.bgroad2{
            background-image: url('/resources/images/business/history_bg_road2.jpg');
        }
    }

    @include mq('tablet'){
        .history_box {
            @include clearfix();

            & > div {
                float:left;
                position: relative;
                width:50%;
                padding-bottom:50.36%;
            }

            .img_history{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .txt_history::after {
            height:80px;
        }
        
        .txt_history ul {
            margin-top:30px;
        }

        .txt_history{
            &.intabwrap{
                .yearhistory{
                    top: 92px;
                }

                ul{
                    margin-top: 0;
                }
            }
        }
    }

    @include mq('deskTop'){
        .history_box {
            .txt_history {

                .yearhistory {
                    right:0px;
                    left:30px;
                    top:0px;
                    bottom:0px;

                    .yaert1{
                        margin-bottom: 20px;
                    }

                    ul {
                        margin-top:40px;
                    }

                    &.roadmg1{
                        ul{
                            margin-top: 24.86%;
                        }
                    }

                    li {
                        padding-bottom:26px;
                        font-size:17px;

                        span {
                            
                            font-size:18px;
                            display:inline;
                            margin-right:10px; 
                            letter-spacing: -1.6px;
                        }

                        .clearfix{
                            span{
                                float: left;
                                display: block;
                                width: 100px;
                                margin-right: 0;
                            }

                            .frig{
                                display: block;
                                float: right;
                                width: calc(100% - 110px);
                            }
                        }

                        &::before {
                            width:16px;
                            height:16px;
                            top:5px;
                        }

                        &::after {
                            left:8px;
                            top:8px; 
                        }

                        .soon{

                            & > em{
                                padding: 5px 14px;
                            }
                        }

                        &.longdot{
                            &::before{
                                top: 37px;
                            }

                            &:last-child::after{
                                display: block;
                                height: 33px;
                            }
                        }
                    }

                    
                }

                &.intabwrap{
                    .yearhistory{
                        top: 180px;
                    }

                    ul{
                        margin-top: 0;
                    }
                }
            }

            .histab{
                padding: 70px 0 0 30px;

                & > li{
                    margin-right: 30px;

                    &:last-of-type{
                        margin-right: 0;
                    }

                    a{
                        padding: 12px 13px;
                    }
                }
            }
        }
    }

    @include mq('deskTop-anoter'){
        .history_box {
            .txt_history {
                .yearhistory {
                    left:80px;

                    li {
                        span {
                            font-size:22px;
                        }

                        .clearfix{
                            span{
                                width: 135px;
                            }

                            .frig{
                                display: block;
                                float: right;
                                width: calc(100% - 140px);
                                padding-top: 4px;
                            }
                        }
                    }
                }

                .histab{
                    padding-left: 80px;
                }
            }
        }
    }
}

.tag_img {
    @include paddAll(14);
    @include fsm('15');
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    background:rgba(0,0,0,0.4);
    color:$white;
    text-align:center;
    line-height:1.2;

    @include mq('deskTop'){
        left:auto;
    }
}