.toplinesect{
    position: relative;
    border-top: 2px solid $lgray;
    padding-top: 20px;

    @include mq('deskTop'){
        border-top-width: 4px;
        padding: 33px 280px 0 0;

        .btnwrap{
            position: absolute;
            top: 36px;
            right: 0;
        }
    }
}

.boxinnum{
    @include disinBlock('m');
    @include fsm('14');
    color: $color-primary;
    border: 1px solid $lgray;
    min-width: 20px;
    padding: 0 2px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;

    @include mq('deskTop'){
        min-width: 24px;
        line-height: 24px;
    }
}

.boxalarm{
    border: 1px solid $lgray;
    padding: 22px 16px 25px;

    p{
        @include fsm('18');
        color: $color-primary;
        margin-bottom: 20px;
    }

    .btnwrap{
        a + a{
            margin-top: 12px;
        }
    }

    @include mq('deskTop'){
        padding: 35px 30px 37px;

        p{
            text-align: center;
        }

        .btnwrap{
            text-align: center;
            
            a + a{
                margin: 0 0 0 12px;
            }
        }
    }
}

.dkright{
    margin-bottom: 12px;

    @include mq('deskTop'){
        position: absolute;
        margin-bottom: 0;
        right: 0;
        top: 2px;
    }
}