.footer,
#footer{
    border-top: 1px solid $dgray;
}

.footer{
    background-color: $white;
}

.relatedsite{
    max-width: 1410px;
    margin: 0 35px 0 10px;
    
    @include mq('deskTop'){
        margin: 0 78px 0 40px;
    }
}

.relaslder{
    .item{
        a{
            display: block;
            margin: 0 15px;

            img{
                height: 44px;
            }
        }
    }

    @include mq('deskTop'){
        .item{
            a{
                margin: 0 30px;

                img{
                    height: 62px;
                }
            }
        }
    }
}

#footer{
    padding: 22px 0 30px;

    .inner{
        position: relative;
    }

    .fmenu{
        margin-bottom: 10px;

        li{
            @include disinBlock('m');
            position: relative;
            padding-right: 11px;
            margin-right: 6px;

            &::after{
                @include posiCenter('v');
                background-color: $dgray;
                content: '';
                display: block;
                width: 1px;
                height: 11px;
                right: 0;
            }

            &:last-of-type::after{
                display: none;
            }

            a{
                @include fsm('16');
                color: $black;
            }
        }
    }

    .finfo{
        @include fsm('16');
        color: $gray3;
        margin-bottom: 15px;

        p{
            margin-bottom: 5px;

            .addr{
                margin-right: 10px;
            }
        }
    }

    .fsns{
        margin-bottom: 15px;

        ul{
            @include disinBlock('m');
            margin-right: 10px;

            li{
                @include disinBlock('m');
                margin-right: 5px;

                @for $sns from 1 through 5{

                    &.sns_#{$sns}{
                        span{
                            background-image: url('/resources/images/icon/f_sns#{$sns}.png');
                        }
                    }
                }

                a{
                    display: block;
                    width: 30px;
                    height: 30px;
                    overflow: hidden;

                    span{
                        @include marginCenter();
                        @include ir();
                        display: block;
                        width: 16px;
                        height: 15px;
                        margin-top: 7px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        .wamark{
            @include disinBlock('m');

            img{
                width: 61px;
            }
        }
    }

    .familysite{

        select{
            color: $black;
            font-weight: 500;
        }
    }

    @include mq('deskTop'){
        padding: 38px 0 40px;

        .fmenu{
            margin-bottom: 25px;

            li{
                padding-right: 20px;
                margin-right: 15px;

                &::after{
                    height: 14px;
                }
            }
        }

        .fsns{
            position: absolute;
            margin-bottom: 0;
            top: -13px;
            right: 0;

            ul{
                margin-right: 10px;

                li{
                    margin-right: 12px;

                    a{
                        display: block;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;

                        span{
                            width: 19px;
                            height: 18px;
                            margin-top: 7px;
                        }
                    }
                }
            }

            .wamark{

                img{
                    width: 74px;
                }
            }
        }

        .familysite{
            position: absolute;
            width: 215px;
            top: 50px;
            right: 0;
        }
    }
}

.quickmenu{
    background-color: $white;
    display: none;
    position: fixed;
    width: 45px;
    right: 10px;
    bottom: 166px;
    text-align: center;
    line-height: 1.3;
    z-index: 8;

    a{
        @include fsm('16');
        color: $white;
        background-color: $navy;
        border-top: 1px solid $white;
        display: block;
        padding: 6px 0;
        font-weight: 700;
        overflow: hidden;

        &:first-of-type{
            border-top: none;
        }
    }

    #btnTop{
        @include fsm('16');
        border: 1px solid $color-default;
        display: block;
        width: 100%;
        padding: 9px 0;
        font-weight: 700;
        overflow: hidden;

        .isi_arrow{
            @include marginCenter();
        }
    }

    @include mq('tablet'){
        bottom: 290px;
    }

    @include mq('deskTop'){
        width: 65px;
        right: 40px;
        bottom: 265px;

        a{
            padding: 12px 0;
        }

        #btnTop{
            padding: 16px 0 15px;
        }
    }
}