.footer{
    background-color: $white;
    border-top: 1px solid $gray4;
    width: 100%;
}

#footer{
    @include screenInner($section-width);
    position: relative;
    padding: 25px 0 30px;

    h6{
        display: none;
    }

    .addr{
        p{
            @include fsm('16');
            color: $gray;
            font-weight: 500;
            line-height: 1.9;
        }
    }

    .cs{
        @include fsm('16');
        color: $black;
        border: 1px solid $igray;
        display: none;
        margin-top: 12px;
        padding: 12px;
        font-weight: 500;
        text-align: center;

        .tel{
            span, strong{
                @include disinBlock('m');
            }

            span{
                margin-right: 7px;
            }

            strong{
                @include fsm('28');
            }
        }
    }

    @include mq('deskTop'){
        padding: 48px 0 50px;

        h6{
            display: block;
            width: 172px;

            img{
                width: 100%;
            }
        }

        .addr{
            position: absolute;
            top: 56px;
            left: 202px;
        }

        .cs{
            position: absolute;
            top: 39px;
            right: 0;
            margin-top: 0;
        }
    }

    @include mq('deskTop-anoter'){
        .cs{
            width: 230px;
            padding: 20px;
        }
    }
}

#btnTop{
    @include fsm('15');
    color: $white;
    background-color: $black2;
    position: fixed;
    display: none;
    width: 45px;
    height: 45px;
    bottom: 10px;
    right: 10px;
    font-weight: 700;
    overflow: hidden;

    .isico{
        @include marginCenter();
    }

    @include mq('deskTop'){
        width: 65px;
        height: 65px;
        bottom: 0;
        right: 30px;
    }
}

.quickmenu{
    background-color: $white;
    display: none;
    position: fixed;
    width: 45px;
    right: 10px;
    bottom: 166px;
    text-align: center;
    line-height: 1.3;
    z-index: 8;

    a{
        @include fsm('16');
        color: $white;
        background-color: $navy;
        border-top: 1px solid $white;
        display: block;
        padding: 6px 0;
        font-weight: 700;
        overflow: hidden;

        &:first-of-type{
            border-top: none;
        }
    }

    #btnTop{
        @include fsm('16');
        border: 1px solid $color-default;
        display: block;
        width: 100%;
        padding: 9px 0;
        font-weight: 700;
        overflow: hidden;

        .isi_arrow{
            @include marginCenter();
        }
    }

    @include mq('tablet'){
        bottom: 290px;
    }

    @include mq('deskTop'){
        width: 65px;
        right: 40px;
        bottom: 265px;

        a{
            padding: 12px 0;
        }

        #btnTop{
            padding: 16px 0 15px;
        }
    }
}