.greetsect{

    .chief{
        margin-bottom: 25px;

        img{
            width: 100%;
        }
    }

    .words{
        @include fsm('18');
        color: $black;
        line-height: 1.7;

        h4{
            @include fsm('midTitle');
            @include marBtm(20);
            color: $color-primary;
        }
    }

    @include mq('deskTop'){
        min-height: 541px;
        padding-bottom: 70px;
        background: url('/resources/images/introduce/chief.jpg') no-repeat top center;

        .chief{
            margin-bottom: 0;

            img{
                display: none;
            }
        }

        .words{
            margin-left: 50%;

            h4{
                line-height: 1.4;
            }
        }
    }
}

.profilelist{
    border: 1px solid $igray;

    dt{
        background-color: $bggray;
        border-bottom: 1px solid $igray;
        position: relative;
        height: 143px;
        padding: 26px 0 0 22px;

        figure{
            position: absolute;
            bottom: 0;
            right: 0;

            img{
                width: 137.5px;
            }
        }

        .name{
            @include fsm('16');
            @include marBtm(20);
            position: relative;
            padding-bottom: 10px;

            strong{
                @include fsm('28');
                color: $black;
                display: block;
            }

            &::after{
                content: '';
                position: absolute;
                display: block;
                width: 25px;
                height: 2px;
                left: 0;
                bottom: 0;
                background: url('/resources/images/common/smalltitle_line.png') no-repeat;
                background-size: contain;
            }
        }

        .position{
            @include fsm('16');
            color: $color-primary;
            font-weight: 500;
        }
    }

    dd{
        ul{
            padding: 25px 22px 15px;

            & > li{
                @include fsm('16');
                position: relative;
                padding-left: 9px;
                margin-bottom: 10px;
                font-weight: 500;

                &::before{
                    background-color: $gray;
                    content: '';
                    position: absolute;
                    display: block;
                    width: 4px;
                    height: 4px;
                    top: 7px;
                    left: 0;
                }

                &.now{
                    div{
                        color: $color-primary;
                        font-weight: 700;
                    }
                }

                .job{
                    color: $black;
                    margin-top: 3px;
                }
            }
        }
    }

    @include mq('deskTop'){
        @include clearfix();
        height: 320px;

        dt{
            border-right: 1px solid $igray;
            border-bottom: none;
            float: left;
            width: 468px;
            height: 100%;
            padding: 52px 0 0 58px;

            figure{
                img{
                    width: auto;
                }
            }

            .name{
                padding-bottom: 20px;

                &::after{
                    width: 50px;
                    height: 4px;
                }
            }
        }

        dd{
            float: right;
            width: calc(100% - 469px);
            height: 100%;

            ul{
                padding: 34px 38px 10px;
                height: 318px;
                overflow-y: auto;

                & > li{
                    @include clearfix();
                    padding-left: 12px;
                    margin-bottom: 15px;

                    &::before{
                        width: 4px;
                        height: 4px;
                        top: 9px;
                    }

                    .date{
                        float: left;
                        width: 150px;
                    }

                    .job{
                        float: right;
                        width: calc(100% - 152px);
                        margin-top: 0;
                    }
                }
            }
        }
    }

    & + &{
        margin-top: 32px;
    }
}

.floorbox{
    background-color: $bggray;
    position: relative;
    padding: 30px 10px 26%;

    .tablist{
        @include clearfix();
        position: absolute;
        left: 5px;
        right: 5px;
        top: (495/651)*100%;
        
        & > li{
            @include col(4);
            float: left;

            & > a{
                @include marginCenter();
                width: (142/162)*100%;
            }

            img{
                width: 100%;
            }

            &.active > a{
                border: 2px solid $color-primary;
                box-shadow: rgba(0,0,0,0.5) 0 0 5px;
            }
        }
    }

    .tab_content{

        .tabpanel{
            position: relative;

            img{
                width: 100%;
            }

            figcaption{
                @include fsm('16');
                color: $white;
                background-color: $gray5;
                position: absolute;
                display: inline-block;
                left: 0;
                bottom: 0;
                padding: 5px 10px 4px 15px;
                font-weight: 500;

                &::after{
                    border: 14px solid $gray5;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    content: '';
                    position: absolute;
                    display: block;
                    right: -28px;
                    bottom: 0;
                }
            }
        }
    }

    @include mq('tablet'){
        padding-bottom: 21%;

        .tablist{
            top: auto;
            left: 0;
            right: 0;
            bottom: 30px;
        }
    }

    @include mq('deskTop'){
        .tab_content{

            .tabpanel{

                figcaption{
                    padding: 11px 18px 11px 21px;

                    &::after{
                        border-width: 23px;
                        right: -46px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1095px){
        padding: 50px 0 50px;

        .floorinner{
            @include marginCenter();
            position: relative;
            width: 1031px;
        }

        .tablist{
            width: 173px;
            top: 0;
            left: auto;
            right: 0;
            bottom: auto;

            & > li{
                float: none;
                width: auto;
                margin-top: 30px;

                a{
                    width: 100%;
                }

                &:first-of-type{
                    margin-top: 0;
                }

                &.active > a{
                    border-width: 4px;
                    box-shadow: rgba(0,0,0,0.3) 5px 5px 8px;
                }
            }
        }
        
        .tab_content{
            width: 828px;
        }
    }
}

.floorbox2{
    position: relative;

    .tablist{
        @include clearfix();
        margin-bottom: 40px;

        & > li{
            @include col(4);
            float: left;

            & > a{
                @include marginCenter();
                width: (142/162)*100%;
                height: 17.2vw;
                border: 1px solid $lgray;
            }

            .bg{
                height: 100%;
                position: relative;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                strong{
                    @include posiCenter('va');
                    @include fsm('28');
                    color: $black;
                }
            }

            &.active > a{
                border: 2px solid $color-primary;
                box-shadow: rgba(0,0,0,0.15) 0 4px 5px;
            }
        }
    }

    .tab_content{

        .tabpanel{
            position: relative;

            img{
                width: 100%;
            }

            .floorinfo{
                @include clearfix();
                position: relative;
                margin-top: -15px;
                z-index: 2;

                .floor_l, .floor_r{
                    float: left;
                    width: 140px;

                    @include mq('mobile-anoter'){
                        width: 160px;
                    }
                }

                .info{
                    @include marBtm(10);

                    span{
                        @include disinBlock('m');
                        @include fsm('18');
                    }

                    .round{
                        color: $white;
                        background-color: $color-primary;
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                        text-align: center;
                        line-height: 23px;
                        font-weight: 700;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    .name{
                        color: $black;
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        .floorinner{
            @include marginCenter();
            max-width: 1337px;
        }

        .tablist{
            position: absolute;
            width: (173/1337)*100%;
            max-width: 173px;
            top: 0;
            right: 5%;
            margin-bottom: 0;
            z-index: 1;

            & > li{
                float: none;
                width: 100%;
                margin-bottom: 38px;

                &:last-of-type{
                    margin-bottom: 0;
                }

                & > a{
                    width: 100%;
                    height: 7.5vw;
                }

                &.active > a{
                    border-width: 4px;
                    box-shadow: rgba(0,0,0,0.15) 0 8px 12px;
                }
            }
        }

        .tab_content{
            .tabpanel{
                @include clearfix();

                figure{
                    float: left;
                    width: (806/1337)*100%;
                    max-width: 806px;
                }

                .floorinfo{
                    float: left;
                    width: (330/1337)*100%;
                    margin: 0 0 0 10px;

                    .floor_l, .floor_r{
                        float: none;
                        width: 100%;
                    }

                    .info{

                        .round{
                            width: 29px;
                            height: 29px;
                            margin-right: 5px;
                            line-height: 32px;
                        }
                    }
                }
            }
        }
    }

    @include mq('deskTop-wide'){
        .tablist{
            width: 173px;

            & > li{
                width: 173px;

                & > a{
                    height: 144px;
                }
            }
        }
    }
}

.miinfo{

    & > dt{
        padding: 40px 0;
        text-align: center;
    }

    & > dd{
        padding: 28px 20px;
    }

    .imgmi{
        height: 148px;
    }

    @include mq('deskTop'){
        & > dt{
            width: 400px;
            padding: 59px 0;
        }

        & > dd{
            width: calc(100% - 401px);
            padding: 68px 70px;
        }

        .imgmi{
            height: 197px;
        }
    }
}

.micolor{
    & > li{
        margin-top: 30px;

        &:first-of-type{
            margin-top: 0;
        }
    }
    
    .circle{
        @include disinBlock('m');
        width: 70px;
        height: 70px;
        margin-right: 15px;
        border-radius: 50%;

        @at-root .micolor li.gokblue .circle{
            background-color: $GOK-Blue;
        }

        @at-root .micolor li.gokred .circle{
            background-color: $GOK-Red;
        }

        @at-root .micolor li.gokgray .circle{
            background-color: $GOK-Gray;
        }

        @at-root .micolor li.gokwhite .circle{
            background-color: $white;
            border: 1px solid $dgray;
        }
    }

    .colorinfo{
        @include disinBlock('m');
        @include fsm('16');
        width: calc(100% - 90px);
        line-height: 1.6;

        h5{
            @include fsm('22');
            color: $black;
        }
    }

    @include mq('deskTop'){
        & > li{
            margin-top: 0;

            &.gokblue{
                width: 30%;
            }

            &.gokwhite{
                width: 20%;
            }
        }

        .circle{
            width: 100px;
            height: 100px;
            margin-right: 22px;
            vertical-align: top;
        }

        .colorinfo{
            width: calc(100% - 130px);
            vertical-align: top;

            h5{
                margin-bottom: 3px;
            }
        }
    }
}

.mi_signature{
    position: relative;

    .btn2{
        margin-bottom: 16px;
    }

    & > div{
        margin-top: 36px;

        &:first-of-type{
            margin-top: 0;
        }
    }

    @include mq('deskTop'){
        .btn2{
            position: absolute;
            top: 15px;
            right: 0;
            margin-bottom: 0;
        }

        & > div{
            margin-top: 55px;
        }
    }
}

.miinfo_list{
    & > li{
        margin-top: 20px;

        &:first-of-type{
            margin-top: 0;
        }

        figure{
            border: 1px solid $igray;
            position: relative;

            img{
                width: 100%;
            }

            figcaption{
                @include fsm('16');
                color: $white;
                background-color: $navy;
                position: absolute;
                display: inline-block;
                left: 0;
                bottom: 0;
                padding: 5px 10px 4px 15px;
                font-weight: 500;

                &::after{
                    border: 14px solid $navy;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    content: '';
                    position: absolute;
                    display: block;
                    right: -28px;
                    bottom: 0;
                }
            }
        }
    }

    @include mq('deskTop'){
        @include clearfix();

        & > li{
            float: left;
            width: (690/1410)*100%;
            margin-top: 0;

            &:nth-of-type(even){
                float: right;
            }

            figure{
                figcaption{
                    padding: 11px 18px 11px 21px;

                    &::after{
                        border-width: 23px;
                        right: -46px;
                    }
                }
            }
        }
    }
}

.whysystem{
    .txt1{
        margin-bottom: 18px;
        line-height: 1.6;
    }

    .imgbg{
        height: 260px;
        background-image: url('/resources/images/introduce/bg_publicsystem.jpg');
        background-position: center;
        background-size: cover;
    }

    @include mq('tablet'){
        .imgbg{
            height: 346px;
        }
    }

    @include mq('deskTop'){
        .txt1{
            @include marginCenter();
            max-width: 1295px;
            margin-bottom: 65px;
            text-align: center;
        }

        .imgbg{
            height: 520px;
        }
    }
}

.claimsect{
    position: relative;

    .txt1{
        margin-bottom: 18px;
    }
    .btnwrap{

        .btn2 + .btn2{
            margin-top: 15px;
        }
    }

    @include mq('deskTop'){
        .txt1{
            margin-bottom: 0;
            padding-right: 240px;
        }

        .btnwrap{
            position: absolute;
            top: 0;
            right: 0;

            .btn2 + .btn2{
                margin: 0 0 0 6px;
            }
        }

        &.mode2{
            .txt1{
                padding-right: 500px;
            }
        }
    }
}

.complaintway{
    @include marBtm(20);
    border: 1px solid $igray;

    & > dt{
        background-color: $bggray;
        border-bottom: 1px solid $igray;
        position: relative;
        padding: 20px 0;
        text-align: center;

        h5{
            @include marBtm(10);
            @include fsm('28');
            color: $black;
        }
    }

    & > dd{
        border-top: 1px solid $igray;
        position: relative;
        min-height: 155px;
        padding: 26px 25px 26px 62px;

        &:first-of-type{
            border-top: none;
        }

        h6{
            color: $white;
            position: absolute;
            width: 42px;
            top: -1px;
            left: -1px;
            bottom: 0;
            text-align: center;
            font-weight: 500;

            &::after{
                content: '';
                display: block;
                position: absolute;
                bottom: -21px;
                border-top: 21px solid #8fb7e6;
                border-left: 21px solid transparent;
                border-right: 21px solid transparent;
                border-bottom: none;
            }

            .box{
                @include posiCenter('v');
                width: 100%;
                font-size: 1rem;

                @include mq('tabletLte'){
                    span{
                        display: block;
                        line-height: 1.2;
                    }

                    .step{
                        margin-bottom: 8px;
                        font-size: 0.75rem;
                        font-weight: 700;
                    }
                }
            }
        }

        &.step1{
            h6{
                background-color: #8fb7e6;
                z-index: 4;
                &::after{
                    border-top-color: #8fb7e6;
                }
            }
        }
        &.step2{
            h6{
                background-color: #3c9ced;
                z-index: 3;
                &::after{
                    border-top-color: #3c9ced;
                }
            }
        }
        &.step3{
            h6{
                background-color: #017ac9;
                z-index: 2;
                &::after{
                    border-top-color: #017ac9;
                }
            }
        }
        &.step4{
            h6{
                background-color: $color-primary;
                z-index: 1;
                &::after{
                    display: none;
                }
            }
        }
    }

    @include mq('deskTop'){
        display: flex;

        & > dt, & > dd{
            @include col(5);
            float: left;
            border-top: none;
            border-bottom: none;
        }

        & > dt{
            .title{
                @include posiCenter('v');
                width: 100%;
            }
        }

        & > dd{
            border-left: 1px solid $igray;
            min-height: auto;
            padding: 95px 30px 30px;

            h6{
                width: auto;
                height: 60px;
                right: 0;
                bottom: auto;
                padding-left: 48px;
                line-height: 60px;
                text-align: left;

                &::after{
                    bottom: auto;
                    top: 0;
                    right: -30px;
                    border-left: 30px solid #8fb7e6;
                    border-top: 30px solid transparent;
                    border-bottom: 30px solid transparent;
                    border-right: none;
                }

                .box{
                    position: static;
                    transform: none;

                    @include mq('deskTop-wide'){
                        font-size: 1.375rem;
                    }

                    .step{
                        font-weight: 700;
                    }
                }
            }

            &.step1{
                h6::after{
                    border-left-color: #8fb7e6;
                    border-top-color: transparent;
                }
            }
            &.step2{
                h6::after{
                    border-left-color: #3c9ced;
                    border-top-color: transparent;
                }
            }
            &.step3{
                h6::after{
                    border-left-color: #017ac9;
                    border-top-color: transparent;
                }
            }
        }
    }
}

.complaintway2{
    .bordl + .bordl{
        margin-top: 30px;
    }

    @include mq('deskTop'){
        display: flex;
        justify-content: space-between;

        .bordl + .bordl{
            margin-top: 0;
        }

        .bordl{
            width: (690/1410)*100%;
            & > dt{
                width: (282/690)*100%;
                max-width: 282px;
            }

            & > dd{
                width: (408/690)*100%;
            }
        }
    }
}

.orglist{
    @include clearfix();
    position:relative;

    ul {
        @include clearfix();
        @include fsm('18');

        li {
            span {
                display:block;
                position:relative;
                line-height:40px;
                height:40px;
                text-align:center;
            }

            a {
                position:relative;
                display:block;
                font-weight:bold;
                text-align:center;
                box-sizing:border-box;
            }
        }

        & .chairman {
            width:100%;
            span {
                background:#017ac9 url('/resources/images/introduce/bg_org1.png') no-repeat 100% 100%;
                background-size:auto 34px;
            }

            a {
                color:$white;
            }
        } 
    }

    ul.dep1th { 
        position:relative;

        & > li {
            float:right;
            position:relative;
            width:50%;
            margin-top:20px;

            &:nth-child(1) {
                padding-left:10px;
            }

            &:nth-child(2) {
                padding-right:10px;

                &::before {
                    position:absolute; 
                    left:6px;
                    top:40px;
                    width:1px;
                    height:479px;
                    background:$gray4; 
                    z-index:1; 
                    content:'';
                }
            }

            & > span {
                &::before {
                    position:absolute; 
                    left:50%; 
                    top:-30px; 
                    bottom:100%; 
                    width:1px; 
                    background:$gray4; 
                    z-index:-1; 
                    content:'';
                }
            
                a {
                    position:relative;
                    padding-bottom:7px;
                    color:#00479d;        
                    background:#fff url('/resources/images/introduce/bg_org2_mid_mo.png') repeat-x 0 0;
                    background-size: auto 47px;

                    &::before {
                        position:absolute;
                        left:0;
                        top:0;
                        bottom:0;
                        width:25px;
                        background: #fff url('/resources/images/introduce/bg_org2_lft_mo.png') repeat-x 0 0;
                        background-size: auto 47px;
                        content: '';
                    }

                    &::after {
                        position:absolute;
                        right:-5px;
                        top:0;
                        bottom:0;
                        width:25px;
                        background: #fff url('/resources/images/introduce/bg_org2_rgt_mo.png') repeat-x 0 0;
                        background-size: auto 47px;
                        content: '';
                    }

                }
            }
        }
    } 

    ul.dep2th {
        position:relative;
        width:calc(200% + 20px);
       
        & > li {
            padding-left:20px;
            margin-top:20px;

            span {
                text-align:left;   
            }
    
            & > span {
                background:#597091;

                &::before {
                    position:absolute; 
                    top:50%; 
                    left:-13px;
                    right:100%;
                    height:1px; 
                    background:$gray4; 
                    z-index:-1; 
                    content:'';
                }

                &::after{
                    border:10px solid #fff;
                    border-top-color:transparent;
                    border-left-color:transparent;
                    position:absolute;
                    right: 0px;
                    bottom: 0;
                    content: '';
                }
                
                a {
                    padding-left:20px;
                    color:#fff;
                    text-align:left;
                    
                    &::after {
                        content:'';
                        @include disinBlock('m');
                        width:7px;
                        height:14px;
                        background:url('/resources/images/icon/arrow4.png') no-repeat 50% 50%;
                        background-size:auto 100%;
                        margin-left:8px;
                        margin-top:-2px;
                    }
                }
                
            }
        }
    }

    ul.dep3th {
        @include fsm('16');
        margin-top:10px;

        li {
            span {
                padding-left:20px;
                height:34px;
                line-height:34px;

                a {
                    padding-left:10px;
                    font-weight:normal;
                    text-align:left;

                    &::after {
                        content:'';
                        position:absolute;
                        left:0; 
                        top:50%;
                        width:4px;
                        height:4px;
                        margin-top:-2px;
                        background:#00479d;
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        ul {
            li {
                &.chairman {
                    width:25%;
                    margin-left:50%;
                    padding:0px 10px;

                    span {
                        background-size:52px auto;
                    }
                }

                span {
                    height:60px;
                    line-height:60px;
                }
            }
        }
        
        ul.dep1th {
            & > li { 
                float:none;
                width:25%;
                margin-top:10px;
                padding:0px 10px;
            
                & > span a {
                    padding-bottom:10px;     
                    background:#fff url('/resources/images/introduce/bg_org2_mid_pc.png') repeat-x 0 0;
                    background-size:auto 70px;

                    &::before {
                        width:20px;
                        background:#fff url('/resources/images/introduce/bg_org2_lft_pc.png') repeat-x 0 0;
                        background-size:auto 70px;
                    }

                    &::after {
                        width:40px;
                        background:#fff url('/resources/images/introduce/bg_org2_rgt_pc.png') repeat-x 0 0;
                        background-size:auto 70px;
                    }
                
                }
                    
                &:nth-child(1) {
                    margin-left:25%;
                   
                    & > span {

                        &::before {
                            left:100%;
                            right:calc((50% + 22px)  * -1);
                            top:auto;
                            bottom:50%;
                            width:auto;
                            height:1px;
                        }

                    }

                }

                &:nth-child(2) {
                    margin-left:50%;

                    &::before {
                        left:50%;
                        top:-80px;
                        bottom:auto;
                        width:1px;
                        height:80px;
                    }
                    
                    & > span {
                        &::before {
                            left:50%;
                            top:60px;
                            bottom: auto;
                            width: 1px;
                            height: 40px;
                            z-index:1;
                        }
                    }
                }
            }
        }

        ul.dep2th {
            width:calc((100% + 20px) * 4);
            margin-left:calc((100% + 20px) * -2);

            &::before {
                position:absolute;
                left:calc((100% - 80px)/8);
                right:calc(((100% - 80px)/8) + 20px);
                top:30px;
                height:1px;
                background:$gray4;
                content:'';
            }

            & > li {
                float:left;
                width:calc((100% - 80px)/4);
                margin-left:20px;
                margin-top:70px;
                padding-left:0;
                text-align:center;

                &:first-child {
                    margin-left:0;
                }
                
                & > span {
                    &::before {
                        left:50%;
                        right:auto;
                        top:-40px;
                        bottom:100%;
                        width:1px;
                        height:auto;
                    }
                }

                & > span a {
                    padding-left:0;
                    text-align:center;
                }
            }
        }

        ul.dep3th {
            display:inline-block;

            li span {
                padding-left:0
            }
        }
    }
}

.area1 {

    .subtxt {
        @include fsm('16');
        color:$color-default;
    }

    ul.map {
        li {
            position:relative;
            width:100%;
            margin-top:50px;
            
            &::after {
                position:absolute;
                bottom:100%;
                left:50%;
                width:15%;
                height:50px;
                margin-left:-25px;
                background: no-repeat 50% 50%;
                background-size: 100% 100%;
                background-image: url('/resources/images/introduce/area1_arw_down.png');
                content:'';
            }

            &:first-child {
                margin-top:0;
            }

            &:first-child::after {
                display:none;
            }
        }
        
    }


    @include mq('deskTop'){
        ul.map {
            @include clearfix();

            li {
                float:left;
                width:30%;
                margin-top:0px;
                margin-left:5%;

                &::after {
                    top:50%;
                    right:100%;
                    left:auto;
                    margin-left:0;
                    margin-top:-25px;
                    background-image: url('/resources/images/introduce/area1_arw_right.png');
                }                

                &:first-child {
                    margin-left:0;
                }
            }
        }
    }
}

.area2 {

    .linetit2 span {
        @include fsm('16');
        display:block;
        color:$color-default;
        font-weight:400;
    }
    
    .gray_imgbox {
        background:$bggray;
    }
    
    .ulist1 {
        &.mark {
            @include clearfix();

            li {
                float:left;
                width:50%;
                padding-left:15px;
                box-sizing:border-box;
                margin-top:5px;

                span {
                    display:block;
                    position:relative;
                    
                    &:before {
                        position:absolute;
                        left:-15px;
                        top:4px;
                        width:10px;
                        height:10px;
                        border-radius:5px;
                        background:$black;
                        content:'';
                    }

                    &.ico_blt1 {
                        color:#00a0e9;
                        &:before {
                            background:#00a0e9;
                        }
                    }
                    &.ico_blt2 {
                        color:#00479d;
                        &:before {
                            background:#00479d;
                        }
                    }     
                    &.ico_blt3 {
                        color:#4fb525;
                        &:before {
                            background:#4fb525;
                        }
                    } 
                    &.ico_blt4 {
                        color:#ffbf41;
                        &:before {
                            background:#ffbf41;
                        }
                    }    
                    &.ico_blt5 {
                        color:#4fb525;
                        &:before {
                            background:#a7ea56;
                        }
                    }  
                    &.ico_blt6 {
                        color:#ff7c1c;
                        &:before {
                            background:#ff7c1c;
                        }
                    } 
                }
            }
        }
    }

    .steps_wrap {
        @include clearfix();

        dl {
            float:left;
            position:relative;
            width:100%;
            box-sizing:border-box;
            padding: 20px 20px 20px 64px;
            border-right:1px solid $igray;
            border-bottom:1px solid $igray;

            dt {
                color: #fff;
                position: absolute;
                width: 44px;
                top: -1px;
                left: -1px;
                bottom: 0;
                text-align: center;
                font-weight: 500;
                background:#eee;
                word-break: break-word;
                display: table;
                vertical-align: middle;
                height: 100%;

                span {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 0.875rem;
                    
                    em {
                        display:inline-block;
                        width:100%;
                        text-align:center;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left:0;
                    bottom: -22px;
                    border-top: 22px solid #8fb7e6;
                    border-left: 22px solid transparent;
                    border-right: 22px solid transparent;
                    border-bottom: none;
                    z-index: 2;
                }
            }       

            dd {
                img {
                    margin-bottom:20px;
                }
            }

            &:first-of-type {
                border-top:1px solid $igray;
            }

            &.step1 dt {
                background:$skyBlue;
                &::after {
                    border-top-color:$skyBlue;
                }
            }
            &.step2 dt {
                background:#3c9ced;
                &::after {
                    border-top-color:#3c9ced;
                }
            }
            &.step3 dt {
                background:$blue3;
                &::after {
                    border-top-color:$blue3;
                }
            }
            &.step4 dt {
                background:$color-primary;
                &::after {
                    border-top-color:$color-primary;
                }
            }
            &.step5 dt {
                background:#002756;
                &::after {
                    display:none;
                }
            }

        }
    }

    .floorbox {
        background:none;
        padding: 0px 0px 13%;

        .tablist {
            left: 0px;
            right: 0px;
            top: auto;
            bottom:0;
            width: 100%;
            box-sizing: border-box;

            & > li {
                width: 19.2%;
                margin-left: 1%;
                &:first-child {
                    margin-left:0;
                }
                & > a {
                    position:relative;
                    width:100%;
                    
                    .t_layer {
                        position:absolute; 
                        display: table;
                        text-align:center;
                        left:0; 
                        right:0;
                        top:0;
                        bottom:0;
                        height:100%;
                        z-index:2;
                        color:#fff;
                        background:rgba(0,0,0,0.3);
                        em {
                            @include fsm('16');
                            position: relative;
                            display: table-cell;
                            width: 100%;
                            height: 100%;
                            vertical-align: middle;
                            line-height:1.2;
                        }
                    }
                }
                &.active > a {
                    .t_layer {
                        background:none;
                    }
                }
            }
            
        }
    }

    @include mq('deskTop'){
        .gray_imgbox {
            .boxintext {
                .box {
                    top:auto;
                    left:auto;
                    bottom:7.84%;
                    right:4.25%;
                }
            }
        }

        .ulist1 {
            &.mark {
                li {
                    width:100%;
                    &:first-of-type {margin-top:0;}
                }
            }
        }
        
        .steps_wrap {
            dl {
                width:20%;
                padding: 70px 10px 10px 10px;

                &:first-of-type {
                    border-top:none;
                    border-left:1px solid $igray;
                }

                dt {
                    bottom: auto;
                    right:-1px;
                    width: 100%;
                    height: 60px;
                    text-align:left;

                    &:after {
                        left:auto;
                        right:-59px;
                        top:0;
                        bottom:0;
                        border-top: 30px solid #8fb7e6;
                        border-left: 30px solid transparent;
                        border-right: 30px solid transparent;
                        border-bottom: none;
                        transform: rotate(-90deg);
                    }

                    span {
                        padding-left:50px;
                        font-size: 1.125rem;

                        em {
                            display:inline;
                        }
                    }
                }
                dd {
                    .ulist1 {
                        min-height:150px;
                        & > li {
                            word-break: break-word;
                        }
                    }
                }
            }
        }

        .floorbox {
            padding:0; 

            .floorinner {
                width: 100%;
                box-sizing: border-box;
                padding-right: 14.184%;

                .tablist {
                    top: 0;
                    left: auto;
                    right: 0;
                    width: 12.7%;
                    height:100%;

                    li {
                        width:100%;
                        height:18%;
                        margin-top:10%;
                        margin-left:0;
                        
                        &:first-child {
                            margin-top:0; 
                        }

                        a {
                            width:100%;
                            height:100%;    
                            
                            img {
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                }
            } 
            .tab_content {
                width:100%;
            }  
        }
    }

    @include mq('deskTop-wide'){
        .floorbox {
            .tab_content {
                width:100%;
            }
        }
        .steps_wrap {
            dl {
                padding: 80px 20px 20px 20px;
            }
        }
    }
    
}

.area3 {
    
    .field {
        position:relative;
        .fieldlistwrap {
            position:absolute;
            left:0;
            top:0;
            right:0;
            width:100%;
            box-sizing:border-box;
            z-index:2;
        }
    }
    
    .fieldmap {
        width:100%;
        background:#ccc;
        height:520px;
    }

    .fieldlistwrap {        
        
        .info_field {
            width:100%;
        }
        .accrdtabwrap {
            background:#fff;
        }
        
        a.btn_fieldlist {
            position:absolute;
            bottom:-23px;
            left:50%;
            margin-left:-30px;
            z-index:3;
            width:60px;
            height:24px;
            background:no-repeat 50% 50%;
            background-size:100% auto;

            &.open {background-image:url('/resources/images/introduce/btn_fieldlist_opn_mo.png');}
            &.close {background-image:url('/resources/images/introduce/btn_fieldlist_cls_mo.png');}

            span {
                position:absolute;
                display:inline-block;
                width:1px;
                height:1px;
                font-size:1px;
                text-indent:-99999rem;
            }
        }
    }

    .tit_field {
        padding:35px 15px;
        background:#01479d url('/resources/images/introduce/bg_fieldlist.jpg') no-repeat 100% 100%;
        background-size:100% auto;
        
        h4 {
            color:#fff;
            font-size:1.125rem;
        }

        .subtxt {
            color:#8eb7e5;
        }
    }
    
    .fieldlist {
        height:300px;
        overflow-y:scroll;

        .acdrlist2>li {
            border-left: 1px solid #e0e0e0;
            border-right: 1px solid #e0e0e0;
        }

        .acdrlist2>li .answer {
            padding-left:15px;
            padding-right:15px;
        }
        .acdrlist2>li .question {
            padding-left:15px;
        }

        .acdrlist2>li.tab.open .question {
            color:#00479d;
        }

        .fd_ulist {
            @include clearfix();

            li {
                float:left;
                width:50%;

                a {
                    display:block;
                    width: 80%;
                    margin: auto;
                    text-align:center; 

                    .isico {
                        display:inline-block;
                        margin-left:6px;
                        vertical-align:middle;
                    }

                    .btn_ico {
                        display:block;
                        margin:0 auto 5px;
                        width:50px;
                        height:50px;
                        background:no-repeat 50% 0;
                        background-size:100% auto;
                    }
                    
                    .ico_panorama {
                        background-image:url('/resources/images/introduce/ico_movie_map1.png');
                    }
                    .ico_drone {
                        background-image:url('/resources/images/introduce/ico_movie_map2.png');
                    }
                    
                }
            }
        }
    }
    
    @include mq('deskTop'){
        .fieldmap {
            height:800px;
        }

        .field{
            .fieldlistwrap {  
                position: absolute;
                left: auto;
                top: 0;
                right: 0;
                width: auto;

                .info_field {
                    width:380px;
                }

                a.btn_fieldlist {
                    bottom: auto;
                    top: 20px;
                    left: -27px;
                    margin-left: auto;
                    width: 27px;
                    height: 70px; 
                    
                    &.open {background-image:url('/resources/images/introduce/btn_fieldlist_opn_pc.png');}
                    &.close {background-image:url('/resources/images/introduce/btn_fieldlist_cls_pc.png');}
                }
            }               
        }   
        
        .tit_field {
            padding:45px 20px 40px; 
            box-sizing:border-box;
            width:100%;
            height:160px;

            h4 {
                font-size: 1.75rem;
            }
            .subtxt {
                font-size: 1.125rem;
            }
        }

        .fieldlist {
            height:640px; 
            
            .acdrlist2>li .answer {
                padding-left:20px;
                padding-right:20px;
                
               .fd_ulist li a {
                font-size:1rem;
                &:hover,
                &:active {
                    color:#00479d;
                    .btn_ico {
                        background-position: 50% 100%;
                    }
                }
               }
                
            }

            .acdrlist2>li .question {
                padding-left:20px;
            }

        }

    }
    
}