.inv_worldmap{
    background: url('/resources/images/investment/worldmap.jpg') no-repeat center top $color-primary;
    background-size: auto 470px;
    width: 100%;
    padding-top: 52px;
    padding-bottom: 55px;
    margin-bottom: 16px;

    .blank_desk{
        display: none;
    }

    .incopy{
        @include fsm('28');
        color: $skyBlue;
        margin: 115px 0 22px;
        font-weight: 700;
        text-align: center;
    }

    ul{
        @include clearfix();

        & > li{
            float: left;
            width: (324/670)*100%;
            margin-bottom: 7px;

            &:nth-of-type(even){
                float: right;
            }
        }

        .item{
            position: relative;
            text-align: center;
            background-image: url('/resources/images/investment/worldmap_item_m.png');
            background-repeat: no-repeat;
            background-size: cover;

            .itemin{
                @include posiCenter('v');
                width: 100%;

                figure{
                    margin-bottom: 12px;

                    img{
                        height: 50%;
                        max-height: 40px;
                    }
                }

                .txt{
                    @include fsm('16');
                    line-height: 1.6;
                }
            }
        }
    }

    @include mq('tablet'){
        background-size: auto 690px;

        ul{
            & > li{
                @include col(6);
                margin-bottom: 0;

                &:nth-of-type(even){
                    float: left;
                }
            }

            .item{
                @include marginCenter();
                width: (324/335)*100%;
            }
        }
    }

    @include mq('deskTop'){
        padding-top: 132px;
        padding-bottom: 224px;
        margin-bottom: 50px;
        background-size: auto;

        .blank_desk{
            display: block;
        }
        .blank_mobile{
            display: none;
        }

        .incopy{
            margin: 245px 0 30px;
        }

        ul{
            & > li{
                .item{
                    max-width: 235px;
                    margin: 0;
                    background-image: url('/resources/images/investment/worldmap_item.png');

                    .itemin{
                        width: (218/235)*100%;

                        .txt{
                            line-height: 1.4;
                        }
                    }
                }
            }
        }
    }

    @include mq('deskTop-superWide'){
        ul{
            & > li{
                .item{
                    .itemin{
                        top: 48px;
                        transform: translate(0,0);

                        figure{
                            position: relative;
                            height: 81px;
                            margin-bottom: 28px;
                            vertical-align: middle;

                            img{
                                @include posiCenter('va');
                                display: block;
                                height: auto;
                                max-height: none;
                            }
                        }

                        .txt{
                            line-height: 1.7;
                        }
                    }
                }
            }
        }
    }
}

.sect_inkor{
    margin-bottom: 60px;

    .intxt{
        margin: -42px 20px 0;
    }

    @include mq('deskTop'){
        position: relative;
        height: 781px;
        margin-bottom: 0;
        background: url('/resources/images/investment/korea_1.jpg') no-repeat;
        background-position: 35% top;
        background-size: cover;

        .mimg{
            display: none;
        }

        .intxt{
            position: absolute;
            top: 176px;
            left: 50%;
            max-width: 322px;
            margin: 0 0 0 8%;
        }
    }
    @include mq('deskTop-wide'){
        background-position: center top;
    }
}

.brdboxinfo{
    border: 1px solid $igray;
    padding-top: 25px;

    .ftaworldmap{
        @include marBtm(25);
        position: relative;
        padding: 0 14px;
        text-align: center;

        img{
            width: 100%;
            max-width: 790px;
        }

        p{
            @include fsm('18');
            position: absolute;
            width: 94px;
            top: 42.77%;
            left: 46.53%;
            font-weight: 500;
        }
    }

    .ftaround{
        @include marBtm(20);
        text-align: center;

        & > li{
            @include disinBlock('m');
            @include fsm('16');
            position: relative;
            padding-left: 13px;
            margin-right: 20px;
            font-weight: 500;

            &::before{
                @include posiCenter('v');
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                left: 0;
                border-radius: 50%;
            }

            &.r1::before{
                background-color: $blue3;
            }
            &.r2::before{
                background-color: #f4b334;
            }
            &.r3::before{
                background-color: #21587d;
            }
            &.r4::before{
                background-color: #c69e70;
            }
        }
    }

    @include mq('deskTop'){
        padding-top: 34px;
        
        .ftaworldmap{
            position: relative;
            padding: 0 14px;
            text-align: center;

            img{
                width: 100%;
                max-width: 790px;
            }

            p{
                @include fsm('18');
                position: absolute;
                width: 220px;
                top: 232px;
                left: 46.53%;
                font-weight: 500;
            }
        }

        .ftaround{

            & > li{
                padding-left: 31px;
                margin-right: 38px;

                &::before{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.ftabox{
    @include marBtm('60');

    .sectit2{
        & > a{
            color: $black;
            position: relative;
            display: block;

            &::after{
                @include ir();
                @include transition(0.3s);
                content: '열기';
                display: block;
                position: absolute;
                width: 14px;
                height: 9px;
                top: 50%;
                right: 0;
                margin-top: -4.5px;
                background: url('/resources/images/common/allmenu_arr.png') no-repeat;
                background-size: contain;

                @at-root .ftabox.open .sectit2 > a::after{
                    transform: rotate(180deg);
                }
            }
        }

        p{
            @include disinBlock('m');
            @include fsm('16');
            color: $color-default;
            font-weight: 500;
        }

        &.desk{
            display: none;
        }
    }

    .ftablist{
        display: none;

        .nation{
            display: table;
            width: 100%;

            .flagarea, .ulist1{
                display: table-cell;
                width: 50%;
                vertical-align: middle;
            }

            .flag{
                @include disinBlock('m');
                margin-right: 6px;

                img{
                    width: 24px;
                }
            }

            strong{
                @include disinBlock('m');
                @include fsm('28');
                color: $black;

                sup{
                    font-size: 0.75rem;

                    &::before{
                        @include ir();
                        @include blind();
                        content: '주석';
                    }
                }
            }

            .ulist1{

                & > li{
                    @include clearfix();
                    @include fsm('16');
                    margin-top: 10px;

                    &:first-of-type{
                        margin-top: 0;
                    }
                }

                .category{
                    float: left;
                    position: relative;
                    width: 55px;
                    margin-right: 10px;
                    font-weight: 500;

                    &::after{
                        @include posiCenter('v');
                        background-color: $dgray;
                        content: '';
                        display: block;
                        width: 1px;
                        height: 12px;
                        right: 0;
                    }
                }

                .valu{
                    float: left;
                }
            }
        }
    }

    &.open{
        .ftablist{
            display: block;
        }
    }

    @include mq('deskTop'){
        margin-bottom: 20px;

        .sectit2{
            &.mobile{
                display: none;
            }
            &.desk{
                display: block;
                position: relative;
            }
        }

        .ftablist{
            display: block;

            & > li{
                width: 24%;

                &:nth-of-type(even){
                    float: left;
                }

                &:nth-of-type(odd){
                    clear: none;
                }

                &:nth-of-type(4n+1){
                    clear: both;
                    margin-left: 0;
                    margin-right: 1%;
                }
                &:nth-of-type(4n+2){
                    margin-left: 0.3%;
                    margin-right: 0.7%;
                }
                &:nth-of-type(4n+3){
                    margin-left: 0.7%;
                    margin-right: 0.3%;
                }
                &:nth-of-type(4n){
                    margin-left: 1%;
                    margin-right: 0;
                }
            }

            .nation{
                display: block;

                .flagarea, .ulist1{
                    display: block;
                    width: 100%;
                }

                .flagarea{
                    margin-bottom: 10px;
                }

                .flag{
                    img{
                        width: 34px;
                    }
                }

                strong{
                    letter-spacing: -1.5px;
                }

                .ulist1{

                    & > li{
                        @include clearfix();
                        @include fsm('16');
                        margin-top: 10px;

                        &:first-of-type{
                            margin-top: 0;
                        }
                    }

                    .category{
                        width: 67px;
                        margin-right: 10px;

                        &::after{
                            height: 14px;
                        }
                    }
                }
            }
        }

        &.ftbflex{
            @include disinBlock('t');
            width: 24%;
            margin-right: 1%;

            .ftablist{
                & > li{
                    width: 100%;
                }
            }

            &.mode2{
                width: 50%;

                .ftablist{
                    & > li{
                        width: 47.5%;

                        &:first-of-type{
                            margin-right: 2.5%;
                        }
                    }
                }
            }
        }
    }
}

.ftamap{
    .comment{
        @include marTop(30);
        @include fsm('16');
        font-weight: 500;
        line-height: 2;
    }
}

.inv_global{
    @include marBtm(90);

    figure{
        margin-bottom: 15px;
        text-align: center;
    }

    .txt1{
        line-height: 1.7;

        .graphdesc{
            position: relative;
            margin-top: 12px;
            padding-bottom: 50px;
            text-align: center;

            img{
                max-width: 100%;
            }
            
            .ulist1{
                position: absolute;
                text-align: left;
                left: 57.46%;
                bottom: 0;
                letter-spacing: -1px;
            }
        }
    }

    @include mq('deskTop'){
        @include clearfix();

        figure{
            float: left;
            width: 50%;
            margin-bottom: 0;
        }

        .txt1{
            float: left;
            width: 40%;
            max-width: 535px;
            margin-left: 7.092%;

            .graphdesc{
                margin-top: 30px;
                padding-bottom: 70px;
                text-align: left;
                
                .ulist1{
                    left: 60.83%;
                    letter-spacing: -1px;
                    font-weight: 500;
                }
            }
        }
    }
}

.invsmg1{
    .squaremap{
        border: 1px solid $igray;
        position: relative;
        margin-bottom: 20px;

        figcaption{
            @include fsm('16');
            position: absolute;
            bottom: 10px;
            right: 12px;
            font-weight: 500;

            &.angleline{
                border-top: 1px solid $igray;
                position: relative;
                bottom: auto;
                right: auto;
                padding: 12px 10px;

                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    right: -1px;
                    bottom: -1px;
                    background-image: url('/resources/images/common/box_corner3.gif');
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                @include mq('deskTop'){
                    padding: 18px;

                    &::after{
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }

        .logisticinfo{

            .inlotleft{
                padding: 15px 14px 0;
            }
            .inlotright{
                padding: 0 14px 4px;
            }

            .logislist{
                @include clearfix();
                @include fsm('16');
                margin-bottom: 10px;

                & > dt{
                    float: left;
                    width: 70px;

                    .num{
                        @include disinBlock('m');
                        color: $white;
                        width: 16px;
                        height: 16px;
                        margin-right: 3px;
                        line-height: 16px;
                        border-radius: 50%;
                        text-align: center;
                        font-weight: 700;
                    }

                    strong{
                        @include disinBlock('m');
                        color: $black;
                        
                    }
                }

                & > dd{
                    float: right;
                    width: calc(100% - 72px);
                    font-weight: 500;

                    span{
                        @include disinBlock('m');
                        position: relative;
                        margin-right: 10px;

                        &:last-of-type{
                            margin-right: 0;
                        }
                    }

                    .present, .plan{
                        padding-right: 25px;

                        &::after{
                            @include posiCenter('v');
                            content: '';
                            width: 22px;
                            height: 0;
                            right: 0;
                            border-width: 1px;
                        }

                        &.port{
                            &::after{
                                border: none;
                                width: 17px;
                                height: 17px;
                                right: 6px;
                                background-repeat: no-repeat;
                                background-size: auto 17px;
                            }
                        }
                    }
                    .present{
                        &::after{
                            border-style: solid;
                        }

                        &.port{
                            &::after{
                                background-position: left;
                            }
                        }
                    }
                    .plan{
                        &::after{
                            border-style: dashed;
                        }

                        &.port{
                            &::after{
                                background-position: right;
                            }
                        }
                    }
                }

                &.num1{
                    & > dt{
                        .num{
                            background-color: $blue3;
                        }
                    }

                    & > dd{
                        .present, .plan{
                            &::after{
                                border-color: $blue3;
                            }
                        }
                    }
                }
                &.num2{
                    & > dt{
                        .num{
                            background-color: $red;
                        }
                    }

                    & > dd{
                        .present, .plan{
                            &::after{
                                border-color: $red;
                            }
                        }
                    }
                }
                &.num3{
                    & > dt{
                        .num{
                            background-color: $color-primary;
                        }
                    }
                    & > dd{
                        .port{
                            &::after{
                                background-image: url('/resources/images/investment/logistic_port.png');
                            }
                        }
                    }
                }
                &.num4{
                    & > dt{
                        .num{
                            background-color: $yellow;
                        }
                    }
                    & > dd{
                        .port{
                            &::after{
                                background-image: url('/resources/images/investment/logistic_airport.png');
                            }
                        }
                    }
                }
            }

            @include mq('tablet'){
                @include clearfix();
                .inlotleft{
                    @include col(2);
                    float: left;
                    padding: 15px 14px 4px;
                }
                .inlotright{
                    @include col(2);
                    border-left: 1px solid $igray;
                    float: right;
                    padding: 15px 14px 4px;
                }
            }

            @include mq('deskTop'){
                .logislist{
                    & > dt{
                        width: 80px;

                        .num{
                            width: 32px;
                            height: 32px;
                            line-height: 32px;
                        }
                    }

                    & > dd{
                        width: calc(100% - 82px);
                        padding-top: 3px;
                    }
                }
            }

            @include mq('deskTop-anoter'){
                .inlotleft, .inlotright{
                    padding: 20px 30px 10px;
                }

                .logislist{
                    & > dt{
                        width: 85px;
                    }
                    & > dd{
                        width: calc(100% - 87px);

                        span{
                            margin-right: 6px;
                        }

                        .present, .plan{
                            padding-right: 42px;

                            &::after{
                                width: 34px;
                                border-width: 2px;
                            }

                            &.port{
                                &::after{
                                    width: 28px;
                                    height: 28px;
                                    right: 10px;
                                    background-size: auto;
                                }
                            }
                        }
                    }
                }
            }

            @include mq('deskTop-wide'){
                .logislist{
                    & > dt{
                        width: 90px;
                    }
                    & > dd{
                        width: calc(100% - 92px);

                        span{
                            margin-right: 8px;
                        }

                        .present, .plan{
                            padding-right: 48px;

                            &::after{
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    .squareinfo_list{
        @include clearfix();

        & > li{
            @include fsm('18');
            color: $white;
            background-color: $yellow;
            float: left;
            position: relative;
            width: (328/670)*100%;
            height: 210px;
            padding: 20px 16px 65px;
            margin-bottom: 10px;
            font-weight: 500;

            &:nth-of-type(even){
                background-color: $blue3;
                float: right;
            }
            &:nth-of-type(odd){
                clear: both;
            }

            h5{
                @include fsm('22');
                margin-bottom: 8px;
                padding-bottom: 6px;
                background: url('/resources/images/common/smalltitle_line2.png') no-repeat left bottom;
                background-size: 35px auto;
            }

            p{
                font-size: 0.938rem;
                font-weight: 500;
            }

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 40px;
                height: 40px;
                right: 15px;
                bottom: 14px;
            }

            @for $smgico from 1 through 4{
                &:nth-of-type(#{$smgico})::after{
                    background: url('/resources/images/icon/smg#{$smgico}.png') no-repeat;
                    background-size: contain;
                }
            }

            &::before{
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                right: 0;
                border: 12px solid $yellow;
                border-right-color: $white;
                border-bottom-color: $white;
            }

            &:nth-of-type(even){
                &::before{
                    border-top-color: $blue3;
                    border-left-color: $blue3;
                }
            }
        }
    }

    .bordghaph{
        border: 1px solid $lgray;
        padding: 20px;
        text-align: center;
    }

    @include mq('tablet'){
        .squareinfo_list{
            & > li{
                height: 150px;
            }
        }
    }

    @include mq('deskTop'){
        @include clearfix();

        .squaremap{
            float: left;
            width: (690/1410)*100%;
            margin-bottom: 0;

            figcaption{
                bottom: 18px;
                right: 16px;
            }
        }

        .squareinfo_list{
            float: right;
            width: (690/1410)*100%;

            & > li{
                width: (330/690)*100%;
                height: 250px;
                padding: 28px 40px 115px;
                margin-bottom: 30px;

                h5{
                    margin-bottom: 12px;
                    padding-bottom: 10px;
                    background-size: auto;
                }

                &::after{
                    width: 60px;
                    height: 60px;
                    right: 30px;
                    bottom: 20px;
                }

                &::before{
                    border-width: 14px;
                }
            }
        }

        .dvright{
            float: right;
            width: (690/1410)*100%;
        }

        .bordghaph{
            padding: 45px 20px;
        }
    }

    @include mq('deskTop-wide'){
        .squareinfo_list{
            & > li{
                height: 273px;

                p{
                    font-size: 1.125rem;
                }

                &::after{
                    width: 80px;
                    height: 80px;
                    right: 40px;
                    bottom: 28px;
                }
            }
        }
    }
}

.comparisonlist{
    @include clearfix();
    position: relative;
    z-index: 2;

    & > li{
        @include col(2);
        float: left;
        margin-bottom: 25px;
        text-align: center;

        figure{
            img{
                width: 140px;
                margin-bottom: 10px;
            }

            figcaption{
                @include fsm('18');
                color: $black;
                margin-bottom: 5px;
                font-weight: 500;

                strong{
                    @include fsm('28');
                    color: $color-primary;
                    display: block;
                }
            }
        }

        @include mq('onlyMobile'){
            &:nth-of-type(odd){
                clear: both;
            }
        }
    }

    &.mode2 > li{
        figure{
            img{
                width: auto;
                max-width: 100%;
            }
        }
    }

    @include mq('tablet'){
        & > li{
            @include col(7);

            figure{
                img{
                    width: 100%;
                    max-width: 152px;
                }
            }
        }

        &.mode2 > li{
            @include col(4);
            margin-bottom: 0;
        }
    }

    @include mq('deskTop'){
        margin-top: 30px;

        & > li{
            margin-bottom: 35px;

            figure{
                img{
                    margin-bottom: 17px;
                }
            }
        }
    }
}
.comparison_main{
    position: relative;

    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 104px;
        bottom: 50%;
        background-image: url('/resources/images/investment/square_bg_m.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        z-index: 1;
    }

    .comparison_round{
        background-color: $white;
        position: relative;
        height: 90px;
        padding-top: 18px;
        border-radius: 45px;
        text-align: center;
        box-shadow: rgba(0,0,0,0.1) 0 6px 8px;
        z-index: 2;

        .smgmap{
            @include disinBlock('m');
            width: 77px;
            margin-right: 15px;
        }

        .smgkm{
            @include disinBlock('m');
            @include fsm('28');
            color: $black;
            text-align: left;
            font-weight: 700;
            line-height: 1.2;

            strong{
                @include fsm('40');
                color: $color-primary;
                display: block;
            }
        }
    }

    @include mq('deskTop'){
        &::after{
            height: 236px;
            bottom: 0;
            background-image: url('/resources/images/investment/square_bg.png');
        }
        
        .comparison_round{
            @include marginCenter();
            width: 547px;
            height: 162px;
            padding-top: 26px;
            border-radius: 81px;
            box-shadow: rgba(0,0,0,0.1) 0 20px 25px;

            .smgmap{
                width: 154px;
                margin-right: 8px;
            }
        }
    }
}

.themecity{
    .themevs{
        margin-bottom: 25px;
    }

    @include mq('tablet'){
        .themecity_smg{
            display: table;

            .themevs{
                display: table-cell;
                width: (548/1410)*100%;
                margin-bottom: 0;
                vertical-align: middle;
            }

            .comparisonlist{
                display: table-cell;
               
                vertical-align: middle;
            }
        }
    }
}

.symmetrybox{
    .positionleft{
        margin-bottom: 30px;
    }

    .box{
        border: 1px solid $igray;
        position: relative;
        text-align: center;
        
        .infraboundary{
            position: absolute;
            left: 14px;
            bottom: 12px;

            span{
                @include disinBlock('m');
                @include fsm('16');
                position: relative;
                margin-right: 15px;
                padding-left: 14px;
                font-weight: 500;

                &::before{
                    @include posiCenter('v');
                    background-color: $blue3;
                    content: '';
                    width: 10px;
                    height: 10px;
                    left: 0;
                    border-radius: 50%;
                }

                &:nth-of-type(2)::before{
                    background-color: $color-primary;
                }
            }
        }

        &.padmode1{
            padding: 30px 5px 25px;
        }
    }

    @include mq('deskTop'){
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .positionleft{
            width: (750/1410)*100%;
            margin-bottom: 0;
        }

        .positionright{
            width: (605/1410)*100%;
        }

        .box{
            
            .infraboundary{
                left: 30px;
                bottom: 29px;

                span{
                    margin-right: 30px;
                    padding-left: 32px;

                    &::before{
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &.padmode1{
                padding: 40px 30px 25px;
            }
        }
    }
}

.selfinl{
    @include marginCenter();
    width: (286/335)*100%;
    max-width: 286px;

    figcaption{
        @include fsm('16');
        margin-top: 15px;
        font-weight: 500;

        strong{
            @include fsm('40');
            color: $color-primary;
            display: block;
            line-height: 1.1;
            font-weight: 700;
        }
    }

    @include mq('deskTop'){
        width: (234/272)*100%;
        max-width: 234px;
    }
}

.plantree{

    & > li{
        position: relative;

        .hqbox{
            color: $white;
            background-color: $blue3;
            position: absolute;
            width: 85px;
            padding: 20px 0;
            top: 0;
            left: 0;
            box-shadow: rgba(0,0,0,0.2) 2px 4px 5px;

            strong{
                position: relative;
                display: block;
                font-size: 0.875rem;
                text-align: center;
                z-index: 2;
            }

            &::before{
                background-color: $gray4;
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: -15px;
                width: 15px;
                height: 1px;
            }

            &::after{
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 26px;
                bottom: 0;
                right: 0;
                background: url('/resources/images/common/box_bg01.png') no-repeat;
                background-size: contain;
                z-index: 1;
            }
        }

        .subtree{
            position: relative;
            margin-left: 100px;

            &::before{
                @include posiCenter('v');
                background-color: $gray4;
                content: '';
                display: block;
                left: 0;
                width: 1px;
                height: calc(100% - 28px);
            }

            & > li{
                position: relative;
                margin-bottom: 10px;
                padding-left: 15px;

                &:last-of-type{
                    margin-bottom: 0;
                }

                &::after{
                    background-color: $gray4;
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 15px;
                    height: 1px;
                }
            }

            .subtbox{
                @include clearfix();
                border: 1px solid $color-primary;
                font-size: 0.688rem;
                font-weight: 500;
                letter-spacing: -1.5px;
                text-align: center;

                .category{
                    color: $white;
                    background-color: $color-primary;
                    float: left;
                    width: 60%;
                    padding: 4px 0;
                }

                .persons{
                    color: $color-primary;
                    float: left;
                    width: 40%;
                    padding: 4px 0;
                }

                @include mq('mobile-anoter'){
                    font-size: 0.75rem;
                    font-weight: 700;
                    letter-spacing: -0.5px;
                }
            }
        }
    }
    
    @include mq('deskTop'){
        & > li{

            .hqbox{
                width: 100px;
                padding: 30px 0;
                box-shadow: rgba(0,0,0,0.2) 4px 6px 5px;

                strong{
                    font-size: 1rem;
                }

                &::after{
                    width: 40px;
                    height: 52px;
                }
            }

            .subtree{
                margin-left: 115px;

                &::before{
                    height: calc(100% - 50px);
                }

                & > li{
                    margin-bottom: 20px;
                }

                .subtbox{
                    font-size: 1rem;

                    .category{
                        width: 55%;
                        padding: 12px 0;
                    }

                    .persons{
                        width: 45%;
                        padding: 12px 0;
                    }
                }
            }
        }
    }

    @include mq('deskTop-wide'){
        & > li{

            .hqbox{
                width: 160px;
                padding: 50px 0 42px;

                strong{
                    font-size: 1.375rem;
                }

                &::before{
                    right: -30px;
                    width: 30px;
                    top: 95px;
                }
            }

            .subtree{
                margin-left: 190px;

                & > li{
                    padding-left: 30px;

                    &:last-of-type{
                        margin-bottom: 0;
                    }

                    &::after{
                        width: 30px;
                    }
                }

                .subtbox{
                    font-size: 1.125rem;

                    .category{
                        width: 50%;
                        padding: 11px 0 10px;
                    }

                    .persons{
                        width: 50%;
                        padding: 11px 0 10px;
                    }
                }
            }
        }
    }
}

.lrdv.citymodel{
    @include marBtm(180);
    position: relative;

    .dlist3.mode2{
        .ulist1{
            & > li{
                @include marTop(12);
            }
        }
    }

    &::before{
        @include posiCenter('a');
        content: '';
        display: block;
        width: 237px;
        height: 75px;
        bottom: -75px;
        background-image: url('/resources/images/investment/square_bg_m.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    @include mq('deskTop'){
        &::before{
            width: 944px;
            height: 161px;
            bottom: -161px;
            background-image: url('/resources/images/investment/square_bg.png');
        }
    }
}

.citymodel2{
    & > ul{
        & > li{
            margin-top: 15px;

            &:first-of-type{
                margin-top: 0;
            }
        }
    }

    &.infrastrlist{
        .numtit1{
            @include fsm('16');
            padding-top: 8px;
            margin-bottom: 0;
        }
    }

    @include mq('deskTop'){
        & > ul{
            @include clearfix();
            margin-left: -1.1%;
            margin-right: -1.1%;

            & > li{
                @include col(3);
                float: left;
                margin-top: 0;

                .anglebox1{
                    @include marginCenter();
                    width: (450/480)*100%;
                    height: 350px;

                    @media screen and (min-width: 1170px){
                        height: 297px;
                    }
                }
            }
        }

        &.modecol_4{
            & > ul{
                & > li{
                    @include col(4);
                }
            }
        }

        &.infrastrlist{
            & > ul{
                & > li{
                    .anglebox1{
                        height: 275px;

                        @include mq('deskTop-anoter'){
                            height: 225px;
                        }
                    }
                }
            }
            .numtit1{
                padding-top: 0;
            }
        }
    }
}

.populallo{
    @include marTop(95);
    position: relative;

    &::before{
        @include posiCenter('a');
        content: '';
        display: block;
        width: 38px;
        height: 30.5px;
        top: -35px;
        background: url('/resources/images/investment/arrow01.png') no-repeat;
        background-size: contain;

        @include mq('deskTop'){
            width: 76px;
            height: 61px;
            top: -72px;
        }
    }
}

.procedure{
    
    .tblwrap.scroll {
        border-top:none;

        table.tbl2 {

            .state_step {
                min-width:58px;
                border-top:none;
                border-right:none;
                border-bottom:none;
                background:none;
            }

            th {
                border-top:2px solid #222;
            }
            tbody {
                td {
                    position:relative;
                    vertical-align:top;
                    box-sizing:border-box;

                    &.step {
                        padding-left:10px;
                        padding-right:10px;
                    }
                    
                    .box {
                        position:absolute;
                        left:0;
                        top:0;
                        bottom:0;
                        width:48px;
                        padding-top:40px;
        
                        span {
                            display:block;
                            color:#fff;
                            font-weight: 700;
                            line-height:1.2;
                        }
                        
                        &::after {
                            position:absolute;
                            left:0;
                            right:100%;
                            bottom: -24px;
                            border-top:24px solid #8fb7e6;
                            border-left:24px solid transparent;
                            border-right:24px solid transparent;
                            border-bottom:none;
                            z-index:2;
                            content: '';
                        }
                    }
        
                    .box.ready {
                        background-color:#8fb7e6;
                    }
        
                    .box.progress {
                        background-color:#3d9cee;
                    }
                }
            }
        }        
    }

    .picto{
        display:inline-block;
        
        span {
            display:block;    
            em {
                display:block;
            }
        }
    
        img {
            display:block;
            margin:auto;
            width:60px;
            @include marTop(10);
            @include marBtm(10);
        }
    }
  
    @include mq('deskTop'){
        .tblwrap.scroll{
            table.tbl2 {
                .state_step {
                    min-width: 90px;
                }

                tbody {
                    td {
                        .box {
                            width:70px;
                            padding-top:60px;
                            &::after {
                                bottom:-35px;
                                border-width:35px;
                                border-bottom:none;
                            }
                        }
                    }
                }
            }
        }

        .picto {
            span {
                em {
                    display:inline;
                }
            }
            img {
                width:90px;
            }
        }
    }
}

.opportlist{
    & > li{
        margin-bottom: 20px;
    }

    @include mq('deskTop'){
        @include clearfix();
        margin-left: -1.1%;
        margin-right: -1.1%;

        & > li{
            @include col(3);
            float: left;
            margin-bottom: 30px;

            &:nth-of-type(3n+1){
                clear: both;
            }

            .anglebox2{
                @include marginCenter();
                width: (450/480)*100%;

                .ulist1{
                    letter-spacing: -1px;
                }
            }
        }
    }
}

@include mq('deskTop'){
    .inv_syslist{
        margin-left: -1.4px;
        margin-right: -1.4px;
        
        .item{
            @include marginCenter();
            width: (432/470)*100%;
        }
    }
}

.mapwrap{
    width: 100%;
    height: 260px;

    @include mq('tablet'){
        height: 390px;
    }

    @include mq('deskTop'){
        height: 520px;
    }
}

.spot{
    @include fsm('22');
    color: $black;
    position: relative;
    padding-left: 26px;
    font-weight: 500;

    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 18px;
        height: 22px;
        top: 0;
        left: 0;
        background: url('/resources/images/icon/spot.png') no-repeat;
        background-size: contain;
    }
}

.padpos{
    border-bottom: 2px solid $lgray;
    margin-top: 18px;
    padding-bottom: 15px;

    @include mq('deskTop'){
        border-block-width: 4px;
        margin-top: 36px;
        padding-bottom: 34px;
    }
}