.mainsector{
    position: relative;
    height: 149.33vw;
    padding: 45px 18px 0;
    background-image: url('../images/main/background_m.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('deskTop'){
        height: 978px;
        padding: 70px 0 0;
        background-image: url('../images/main/background.jpg');
        background-position: center;
        background-size: cover;
    }
}

.maininner{
    @include mq('deskTop'){
        @include marginCenter();
        max-width: 940px;
    }
}

.main_tabmenu{
    @include clearfix();
    box-shadow: rgba($black, 0.2) 0 6px 10px;
    border-radius: 30px;
    overflow: hidden;

    & > li{
        @include col(3);
        background-color: $white;
        float: left;

        & > a{
            @include fsm('26');
            color: $blue2;
            border-right: 1px solid $lgray;
            display: block;
            height: 45px;
            line-height: 41px;
            text-align: center;

            span{
                @include disinBlock('m');
            }
        }

        &:last-of-type{

            & > a{
                border-right: none;
            }
        }

        &.active{
            background-color: $color-primary;

            & > a{
                color: $white;
                font-weight: 700;

                @include mq('deskTop'){
                    span{
                        &::before{
                            @include disinBlock('m');
                            content: '';
                            width: 28px;
                            height: 24px;
                            background: url('../images/icon/check.png') no-repeat;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        border-radius: 50px;
        box-shadow: rgba($black, 0.2) 0 10px 18px;

        & > li{
            & > a{
                height: 74px;
                line-height: 70px;
            }
        }
    }
}

.maincont{
    position: relative;
    padding-top: 36.8vw;

    @include mq('deskTop'){
        padding-top: 60px;
    }
}

.tab_content{
    .tabpanel{
        display: none;

        &.show{
            display: block;
        }
    }
}