.mainsector{
    position: relative;
    height: 149.33vw;
    padding: 45px 18px 0;
    background-image: url('../images/main/background_m.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include mq('deskTop'){
        height: 978px;
        padding: 70px 0 0;
        background-image: url('../images/main/background.jpg');
        background-position: center;
        background-size: cover;
    }
}

.maininner{
    @include mq('deskTop'){
        @include marginCenter();
        max-width: 940px;
    }
}

.main_tabmenu{
    @include clearfix();
    box-shadow: rgba($black, 0.2) 0 6px 10px;
    border-radius: 30px;
    overflow: hidden;

    & > li{
        @include col(3);
        background-color: $white;
        float: left;

        & > a{
            @include fsm('26');
            color: $blue2;
            border-right: 1px solid $lgray;
            display: block;
            height: 45px;
            line-height: 41px;
            text-align: center;

            span{
                @include disinBlock('m');
            }
        }

        &:last-of-type{

            & > a{
                border-right: none;
            }
        }

        &.active{
            background-color: $color-primary;

            & > a{
                color: $white;
                font-weight: 700;

                @include mq('deskTop'){
                    span{
                        &::before{
                            @include disinBlock('m');
                            content: '';
                            width: 28px;
                            height: 24px;
                            background: url('../images/icon/check.png') no-repeat;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        border-radius: 50px;
        box-shadow: rgba($black, 0.2) 0 10px 18px;

        & > li{
            & > a{
                height: 74px;
                line-height: 70px;
            }
        }
    }
}

.maincont{
    position: relative;
    padding-top: 36.8vw;

    @include mq('deskTop'){
        padding-top: 60px;
    }
}

.tab_content{
    .tabpanel{
        display: none;

        &.show{
            display: block;
        }
    }
}

#maincont{
    @include marginCenter();
    position: relative;
    width: 100%;
    max-width: 750px;
    height: 665px;
    padding: 0 18px;
    background-image: url('../images/main/main_visual_m.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    overflow: hidden;

    h1{
        width: 135px;
        height: 30px;
        margin-top: 20px;

        a{
            @include ir();
            display: block;
            height: 100%;
            background-image: url('../images/common/logo.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    @include mq('deskTop'){
        max-width: none;
        height: 966px;
        background-image: url('../images/main/main_visual.jpg');
        background-size: cover;

        h1{
            width: 222px;
            height: 50px;
            margin: 59px auto 0;
        }
        
    }
}

.mainmenu{
    @include clearfix();
    margin-top: 280px;

    li{
        @include col(2);
        float: left;
        margin-bottom: 20px;

        @include mq('tabletLte'){
            &:nth-of-type(even){
                float: right;
            }
        }

        a{
            @include marginCenter();
            display: block;
            width: 120px;

            .round{
                position: relative;
                width: 120px;
                height: 120px;
                text-align: center;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: rgba($black, 0.3) 0 6px 10px;

                strong{
                    @include posiCenter('va');
                    @include disinBlock('m');
                    @include fsm('26');
                    color: $white;
                    padding-right: 15px;

                    &::after{
                        @include posiCenter('v');
                        content: '';
                        width: 6px;
                        height: 10px;
                        right: 0;
                        background: url('../images/main/nav_arrow.png') no-repeat;
                        background-size: contain;
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 55px;
                    height: 51px;
                    top: -9px;
                    right: -6px;
                    background-image: url('../images/main/flower1.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }

        @for $num from 1 through 4{
            &:nth-of-type(#{$num}){
                a{
                    .round{
                        background-image: url('../images/main/menu#{$num}.jpg');
                    }
                }
            }
        }

        &:nth-of-type(even){
            a{
                .round{
                    &::after{
                        top: -9px;
                        right: -6px;
                        background-image: url('../images/main/flower2.png');
                    }
                }
            }
        }
    }

    @include mq('deskTop'){
        width: 918px;
        margin: 541px auto 0;

        li{
            @include col(4);
            margin-bottom: 0;

            a{
                width: 192px;

                .round{
                    @include transition(0.5s);
                    width: 192px;
                    height: 192px;
                    box-shadow: rgba($black, 0.3) 2px 10px 12px;

                    strong{
                        font-weight: 500;
                        line-height: 1.2;

                        &::after{
                            width: 8px;
                            height: 14px;
                        }
                    }

                    &::before{
                        @include posiCenter('va');
                        @include transition(0.5s);
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-radius: 50%;
                        background-color: rgba($color-primary,0.8);
                        opacity: 0;
                    }

                    &::after{
                        width: 109px;
                        height: 102px;
                        top: -15px;
                        right: -38px;
                    }
                }

                &:hover{

                    .round{
                        box-shadow: rgba($black, 0.6) 2px 10px 12px;

                        &::before{
                            width: 100%;
                            height: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}