$color-primary: #005bac;
$color-default: #515253;
$white: #fff;
$black: #222;
$black2: #3c4043;
$black3: #3a3d3d;
$gray: #999;
$gray2: #bbb;
$gray3: #aaa;
$gray4: #ccc;
$gray5: #7b7b7b;
$skyBlue: #8fb7e6;
$skyBlue2: #ecf7ff;
$red: #F42643;
$pink: #ed145b;
$blue: #1877F2;
$blue2: #718ea8;
$blue3: #017ac9;
$navy: #597091;
$navy2: #4473c5;
$dgray: #d8d8d8;
$dsky: #f1f9ff;
$lgray: #e0e0e0;
$bggray: #f3f5f8;
$igray: #dfdfdf;
$yellow: #ffbf41;
$green: #80c49a;
$green2: #81c49b;

$main-width: 100%;
$section-width: 1240px;